input[type=checkbox] {
    zoom: 2;
}
#style-switcher {
	right: 0;
	position: fixed;
	top: 80px;
	z-index: 9999;
	opacity: 0;
}

#style-switcher ul,
#style-switcher ol {
	padding: 0;
}

#style-switcher h4 {
	color: #e8e8e8;
	margin-bottom: 5px;
	letter-spacing: -1px;
	padding: 11px 0;
	background: #333;
	line-height: 1;
}

#style-switcher-menu {
	float: left;
	width: 350px;
	color: #444;
	overflow-y: auto;
	background: white;
	box-shadow: 0 5px 30px -6px rgba(0, 0, 0, .3);
}

#style-switcher-menu .segment {
	padding: 10px;
	margin-left: 10px;
	border-top: 1px solid #222;
	text-align: left;
}

#style-switcher-menu .segment h5 {
	margin-top: 0;	
}

#style-switcher-menu .segment .btn {
	display: block;	
}

#style-switcher-menu ul.theme {
	margin: 4px 0 0;
}

#style-switcher-menu ul.theme li {
	display: inline-block;
	list-style: none;
}

#style-switcher-menu ul.theme li a {
	display: block;
	margin: 0;
	line-height: 0;
	border: 1px solid #222;
	box-shadow: 0 1px 2px #111;
}

#style-switcher-menu .cookie_layout_style li a {
	width: 21px;
    height: 21px;
}

#style-switcher-menu ul.theme li a:hover {
	border: 1px solid #272727;
}

#toggle_button {
	float: left;
	width: 40px;
	background: #252525;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	height: 300px;
}

#toggle_button a {
	color: #fff;
	display: block; 
	text-align: center;
	width: 300px;
	height: 30px;
	margin-left: -128px;
	margin-top: 140px;

	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

@media (max-width: 992px) {
	#style-switcher {
		display: none;	
	}
}
