{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Vendor styles -->
        <link rel="stylesheet" href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}">

        <!-- App styles -->
        <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    </head>

    <body data-ma-theme="green">
        <section class="error">
            <div class="error__inner">
                <h1 class="text-green">404</h1>
                <h2>The page you were looking for doesn't exist!</h2>
                <a href="{% url 'sfsapp:login' %}" class="btn btn-lg btn-success">Return to Login Page</a>
                <a href="http://www.sarobartech.com" class="btn btn-lg btn-primary">Visit Developer's Site</a>
            </div>
        </section>

        <!-- Javascript -->
        <!-- Vendors -->
        <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>