{% extends 'base.html' %}
{% load static %}

{% block title %}Activity{% endblock %}

{% block activitycreate %}navigation__active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/datetimepicker.min.css' %}">
<style type="text/css">
  label {
    color: #54A9F6;
  }
</style>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">{% if thispatient %}{{thispatient.name|title}}'s Activity (Patient Code: {{thispatient.patient_code}}){% else %}Patient's Activity{% endif %}</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row container-fluid">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- <label>Patient Name</label> -->
          <p>{{form.patient}}</p>
          <span style="position: absolute;" class="text-danger">{{form.patient.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="my-3 col-md-6 col-sm-6 col-xs-12">
          <label>Doctor Name</label>
          {{form.doctor}}
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.doctor.errors}}</span>
        </div>
        <div class="my-3 col-md-6 col-sm-6 col-xs-12">
          <label>Lab Test</label>
          {{form.labtest}}
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.labtest.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid" id="removefollowup">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <br>
          <label>Assign Next Followup?</label>
          <div class="checkbox py-4">
            {{form.assign_schedule}}
            <label class="checkbox__label text-danger" for="id_assign_schedule">Please tick this checkbox to assign next followup</label>
          </div>
          <span style="position: absolute;" class="text-danger">{{form.assign_schedule.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid mx-1">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.subject}}
          <label>Subject for Next Scheduling</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.subject.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.next_schedule}}
          <label>Assign New Schedule</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.next_schedule.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid mx-1 my-4">
        <div class="col-12 p-0">
          <label>Patient Report:</label>
          {{form.report}}
          <span style="position: absolute;" class="text-danger">{{form.report.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid mx-1 my-4">
        <div class="col-md-6 col-sm-6 col-xs-12 p-0 pr-md-2">
          <label>Prescribed Medicines:</label>
          {{form.medicines}}
          <span style="position: absolute;" class="text-danger">{{form.medicines.errors}}</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 p-0 pl-md-2">
          <label>Doctor's Advices:</label>
          {{form.doctor_advice}}
          <span style="position: absolute;" class="text-danger">{{form.doctor_advice.errors}}</span>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
  
$(".datetime-pickernext").flatpickr({
      allowInput:true,
      enableTime:!0,
      minDate: 'today',
    });
</script>
<script type="text/javascript">
    document.getElementById('id_assign_schedule').checked=false;
    document.getElementById('id_assign_schedule').onchange = function() {
    document.getElementById('id_subject').required=true;
    document.getElementById('id_next_schedule').required=true;
    document.getElementById('id_subject').disabled = !this.checked;
    document.getElementById('id_next_schedule').disabled = !this.checked;
  }
  document.getElementById('id_next_schedule').value = "{{lastfollowup.schedule_date}}";
  document.getElementById('id_subject').value = "{{lastfollowup.subject}}";
  {% if view.kwargs.patient_slug %}
  document.getElementById('id_patient').value="{{view.kwargs.id}}";
    p = document.getElementById('id_patient').parentElement;
    $('#id_patient').parent().parent().parent().hide();
    // p.parentElement.parentElement.style.display = 'none'
    // p.style.display = 'none';
  {% endif %}
  {% if view.kwargs.notlast %}
    document.getElementById('id_patient').parentElement.style.display = 'none';
    document.getElementById('removefollowup').style.display = 'none';
    document.getElementById('id_subject').parentElement.style.display = 'none';
    document.getElementById('id_next_schedule').parentElement.style.display = 'none';


  {% endif %}
  {% if view.kwargs.slug %}
    document.getElementById('id_doctor').parentElement.style.display = 'none';
  {% else %}

  {% endif %}

</script>
<script type="text/javascript" src="{% static 'vendors/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('.select2-patient').select2({
      placeholder: "Select Patient...",
      width: "100%"
  });
  });
  
  $(document).ready(function() {
      $('.select2-doctor').select2({
      placeholder: "Select Doctor if doctor is different...",
      width: "100%",
      height: "120%",
  });
  });

  $(document).ready(function() {
      $('.select2-labtest').select2({
      placeholder: "Select Labtests...",
      width: "100%"
  });
  });
</script>
{% endblock %}
