{% extends 'base.html' %}
{% load static %}

{% block title %}Activities{% endblock %}

{% block activitylist %}navigation__active{% endblock %}


{% block css %}
  
{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-body">
        <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Patient Visits and Reports</h4>
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
                <thead class="table-secondary">
              <tr>
                  <th id="first-column" style="width: 80px;">S.N</th>
                  <th>Patient (Code)</th>
                  <th>Doctor</th>
                  <th>Activity On</th>
                  <th>Tests</th>
                  <th>Next Followup</th>
              </tr>
          </thead>
          <tfoot class="table-secondary">
              <tr>
                  <th id="first-column" style="width: 80px;">S.N</th>
                  <th>Patient (Code)</th>
                  <th>Doctor</th>
                  <th>Activity On</th>
                  <th>Tests</th>
                  <th>Next Followup</th>
              </tr>
          </tfoot>
             <tbody>
            {% for activity in activitylist %}
              <tr>
                  <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
                  <td><a href="{% url 'sfsapp:activitydetail' activity.slug %}">{{activity.patient.name|title}} ({{activity.patient.patient_code}})</a></td>
                  <td>{% if activity.doctor %}<a href="{% url 'sfsapp:doctordetail' activity.doctor.slug %}">{{activity.doctor.name|title}}</a>{% else %}No doctor assigned{% endif %}</td>
                  <td class="big-text">{{activity.activity_on}}</td>
                  <td class="big-text">
                    {% for test in activity.labtest.all %}
                      {% if forloop.counter != 1 %},{% endif  %}  {{test.name|title}} 
                    {% endfor %}
                  </td>
                  <td class="big-text">{{activity.next_schedule}}</td>
                 
              </tr>
             {% endfor %}
          </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}

