{% extends 'base.html' %}
{% load static %}
{% block patientlist %}navigation__active{% endblock %}



{% block title %}Patient-{{activitydetail.patient.name}}{% endblock %}

{% block css %}

{% endblock %}


{% block content %}
<div class="card" id="patient-report">
    <div class="card-body">
		<h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Patient Status as on ({{activitydetail.activity_on|date}}): <span style="color: green;">{{activitydetail.name}}</span></h3></h4>
	
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<table class="table table-bordered table-responsive" style="width: 100%;">
				    <tr>
				        <th>Patient (Code)</th>
				        <td><a href="{% url 'sfsapp:patientdetail' activitydetail.patient.slug %}">{{activitydetail.patient.name|title}} ({{activitydetail.patient.patient_code}})</a></td>
				        <th>Admitted on</th>
						<td>{{activitydetail.activity_on}}</td>
				    </tr>
					<tr>
						<th>Doctor</th>
						<td>{% if activitydetail.doctor %}<a href="{% url 'sfsapp:doctordetail' activitydetail.doctor.slug %}">{{activitydetail.doctor|title}}</a>{% else %}No doctor assigned{% endif %}</td>
						<th>Lab Tests Done</th>
						<td>{% for test in activitydetail.labtest.all %}{% if forloop.counter != 1 %},{% endif %}{{test.name}}  {% endfor %}</td>
					</tr>					
					<tr>
						{% if activitydetail.assign_schedule %}
						<th style="color: #CF1E1E;">Next Followup</th>
						
						<td style="color: #CF1E1E;">{{activitydetail.next_schedule}}</td>
						{% endif %}
						<div id="remove1">
							<th>Last Updated by:</th>
							<td>{{activitydetail.updated_by}}</td>
						</div>
					</tr>
				</table>
			</div>
			<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
			<div class="col-md-3 col-sm-12 col-xs-12" id="remove">
				<a class="d-block-inline btn btn-block bg-brown text-white" href="javascript:printDiv('patient-report')"><i class="zmdi zmdi-print zmdi-hc-fw" style="padding:0 30px 0 0; font-size: 20px;"></i>Print This Report</a>
				<a href="{% url 'sfsapp:activityupdate' activitydetail.slug 'notlast' %}" class="d-block-inline btn btn-block btn-primary" style="margin-bottom: 10px; margin-top: 10px;"><i class="zmdi zmdi-edit zmdi-hc-fw" style="padding:0 30px 0 0; font-size: 20px;"></i>Update This Activity</a>
				{% if request.user.is_staff %}
				<a data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:activitydelete' activitydetail.slug %}" href="{% url 'sfsapp:activitydelete' activitydetail.slug %}" class="d-block-inline btn btn-block btn-danger"><i class="zmdi zmdi-close zmdi-hc-fw" style="padding:0 30px 0 0; font-size: 20px;"></i>Delete This Activity</a>
				{% endif %}
			</div>
		</div>
	</div>	
			
    <div class="card-body">
		<h4 class="card-title">Report</h4>
			<p style="text-align: justify;">{{activitydetail.report|safe}}</p>
	</div>
	<div class="card-body">
		<h4 class="card-title">Doctors Advice</h4>
			<p style="text-align: justify;">{{activitydetail.doctor_advice|safe}}</p>
	</div>
	<div class="card-body">
		<h4 class="card-title">Prescribed Medicines</h4>
			<p style="text-align: justify;">{{activitydetail.medicines|safe}}</p>
	</div>
</div>

{% endblock %}

{% block js %}
<!-- <script src="{% static 'jspdf/jspdf.min.js' %}"></script>
<script src="{% static 'jspdf/html2pdf.js' %}"></script> -->

<script type="text/javascript">
    printDivCSS = new String ('<link href="myprintstyle.css" rel="stylesheet" type="text/css">')
    
    function printDiv(divId) {
		$("#remove, #remove1").hide();
        window.frames["print_frame"].document.body.innerHTML=printDivCSS + document.getElementById(divId).innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
		$("#remove, #remove1").show();
    }
</script>


{% endblock %}