{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">

    {% block css %}

    {% endblock %}
</head>
<body class="container-fluid">
<!-- success message -->
{% if messages %}


<div id="onloadmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sarobar System Says!!!</h4>
      </div>
        {% for message in messages %}
      <div class="modal-body bg-{{message.tags}}">
        <p>{{message}}</p>
      </div>
        {% endfor %}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endif %}

<!-- end of the success message -->
<div class="row" style="margin: 5px 0 0 0;padding: 5px; background-color: black;">
    <div class="col-md-2 col-sm-12" style="margin-top: 5px;">

        <a target="_blank" href="//sarobartech.com"><img src="{% static 'images/sarobarlogo.png' %}" class="img-responsive"></a>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6" style="margin-top: 15px;">
        <a href="{% url 'sfsapp:patientcreate' %}" class="btn btn-primary btn-block">Admit New Patient</a>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6" style="margin-top: 15px;">
        <a href="{% url 'sfsapp:doctorcreate' %}" class="btn btn-primary btn-block">Add New Doctor</a><br>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6" style="margin-top: 15px;">
        <a href="{% url 'sfsapp:labtestcreate' %}" class="btn btn-primary btn-block">Create Labtest</a>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6" style="margin-top: 15px;">
        <a href="{% url 'sfsapp:staffregistration' %}" class="btn btn-primary btn-block" data-toggle="modal" data-target="#sarobar-modal">Add New Staff</a>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6" style="margin-top: 15px;">
        <span style="font-size: 15px; color: white;">Logged In As:</span><br>
        <span style="font-size: 18px; color: #BEFFC7;"> {{request.user.username}}</span> 
        <a class="btn btn-danger pull-right" href="{% url 'sfsapp:logout' %}">Logout</a>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <nav class="navbar navbar-inverse  navbar-fixed-left">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                  <a class="navbar-brand" href="{% url 'sfsapp:organizationdetail' %}"><img src="{% if organization.logo %}{{organization.logo.url}}{% else %}{% static 'images/sarobarlogo.png' %}{% endif %}" width="125"  class="img-responsive" style="margin-left: 60px; margin-top: -10px;"></a>
                </div>
                <br>
                <hr>
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="myNavbar">
                    <ul class="nav navbar-nav" id="navbar-nav">
                        <li class="{% block home %}{% endblock %}"><a href="{% url 'sfsapp:home' %}">Home</a></li>
                        <li class="{% block doctorlist %}{% endblock %}"><a href="{% url 'sfsapp:doctorlist' %}">Doctors</a></li>
                        <li class="{% block doctorschedulelist %}{% endblock %}"><a href="{% url 'sfsapp:doctorschedulelist' %}">Doctors Schedules</a></li>
                        <li class="{% block labtestlist %}{% endblock %}"><a href="{% url 'sfsapp:labtestlist' %}">Lab tests</a></li>
                        <li class="{% block patientlist %}{% endblock %}"><a href="{% url 'sfsapp:patientlist' %}">Patients</a></li>
                        <li class="{% block schedulelist %}{% endblock %}"><a href="{% url 'sfsapp:schedulelist' %}">All Follow Ups</a></li>
                        <li class="{% block activitylist %}{% endblock %}"><a href="{% url 'sfsapp:activitylist' %}">Patients Visits and Reports</a></li>
                        {% if request.user.is_superuser %}
                        <li class="{% block stafflist %}{% endblock %}"><a href="{% url 'sfsapp:stafflist' %}">Staff List</a></li>
                        {% endif %}
                        <br>
                        <li class=""><a href="{% url 'sfsapp:logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-9 col-sm-9" id="main-content">
        {% block content %}


        {% endblock %}
        
    </div>
</div>
<div id="sarobar-modal" class="modal fade" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
          
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

{% block js %}

{% endblock %}
<script type="text/javascript">
    
</script>
<script type="text/javascript">
$('#sarobar-modal').on('hidden.bs.modal', function () {
  location.reload();
})
</script>
<script type="text/javascript">
          $(window).on('load', function(){
            $('#onloadmodal').modal('show');
          });
    </script>
    <script type="text/javascript">
        if (navigator.onLine) {
          console.log('online');
          Response.Redirect("127.0.0.1:8001/admin.aspx?UserName=Imdadhusen&Sex=Male");
        } else {
          console.log('offline');
        }
    </script>
 <!--    <script type="text/javascript">
        string strUser = Request.QueryString["UserName"];
        console.log('strUser');
    </script> -->
</body>
</html>