{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Meta Description Tag -->
        <meta name="Description" content="Patient Follow up is a product by Sarobar Technology Pvt. Ltd. for tracking the patient activity in an Clinic as well as hospital. Patient Follow up System also keeps record of the doctors and their schedule for each day. Patient To Follow, Contacted Patient and Patient not visited can be tracked. Multiple staff user can be created by the admin for use of this online application.">
        <!-- Meta Keyword Tag -->
        <meta name="keywords" content="Sarobar Technology product, Sarobar Technology, web companies in lalitpur, IT company in lalitpur,{% block tags %}{% endblock %}">

        <title>FollowUp | {% block title %}{% endblock %}</title>
        <!-- Favicons -->
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <!-- Vendor styles -->
        <link rel="stylesheet" href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/sweetalert2/dist/sweetalert2.min.css' %}">


        <link rel="stylesheet" type="text/css" href="{% static 'vendors/bower_components/select2/dist/css/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/dropzone/dist/dropzone.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/nouislider/distribute/nouislider.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}">
         <link rel="stylesheet" href="{% static 'vendors/bower_components/trumbowyg/dist/ui/trumbowyg.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/flatpickr/flatpickr.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'vendors/bower_components/rateYo/min/jquery.rateyo.min.css' %}">


        <!-- App styles -->
        <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            /*.navigation-dropdown-menu > li{
                content: "";
            }*/
            .navigation__sub .navigation__active:before {
                content: "";
            }
        </style>
        {% block css %}
        {% endblock %}
    </head>

    <body data-ma-theme="green">

        <main class="main">
            <div class="page-loader">
                <div class="page-loader__spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>

            <header class="header">
                <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
                    <div class="navigation-trigger__inner">
                        <i class="navigation-trigger__line"></i>
                        <i class="navigation-trigger__line"></i>
                        <i class="navigation-trigger__line"></i>
                    </div>
                </div>

                <div class="header__logo hidden-sm-down col-md-4 sm-hidden">
                     <a href="{% url 'sfsapp:organizationdetail' %}"><img src="{% if organization.logo %}{{organization.logo.url}}{% else %}{% static 'images/sarobarlogo.png' %}{% endif %}" class="img-responsive bg-light ml-3 px-2" style="max-width: 210px; max-height: 72px; padding-top: 17px; padding-bottom: 17px;">
                     </a>
                </div>
                <div class="header__text text-light col-md-4 col-sm-6 col-xs-8">
                    Patient Follow-up System <small style="font-size: x-small;">v1.0.0</small>
                </div>
                <form id="search-form" action="{% url 'sfsapp:patientsearch' %}" class="search">
                <div class="search__inner">
                    <input type="text" name="search" class="search__text" placeholder="Search Patient By Patient Code" required value="{{request.GET.search}}">
                    <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
                    </div>                
                </form>
                <ul class="top-nav">
                    <li class="hidden-xl-up"><a href="#" data-ma-action="search-open"><i class="zmdi zmdi-search"></i></a></li>
                </ul>
            </header>

            <aside class="sidebar">
                <div class="scrollbar-inner">
                    <div class="user">
                        <a href="{% url 'sfsapp:home' %}">
                            <div class="user__info my-0">
                                <img class="user__img" src="{% static 'images/profile.jpg' %}" alt="">
                                <div>
                                    <div class="user__name">{{request.user.username|title}}</div>
                                    <div class="user__email">{% if request.user.email %}{{request.user.email}}{% endif %}</div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <ul class="navigation">
                        <li class="{% block home %}{% endblock %}"><a href="{% url 'sfsapp:home' %}"><i class="zmdi zmdi-home"></i>Home</a></li>
                        <li class="{% block patientlist %}{% endblock %}"><a href="{% url 'sfsapp:patientlist' %}"><i class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i>Patients</a></li>
                        <li class="{% block schedulelist %}{% endblock %}"><a href="{% url 'sfsapp:schedulelist' %}"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i>All Follow Ups</a></li>
                        <li class="{% block activitylist %}{% endblock %}"><a href="{% url 'sfsapp:activitylist' %}"><i class="zmdi zmdi-directions-run zmdi-hc-fw"></i>Patients  Reports</a></li>
                        <li class="{% block labtestlist %}{% endblock %}"><a href="{% url 'sfsapp:labtestlist' %}"><i class="zmdi zmdi-fire zmdi-hc-fw"></i>Lab Tests</a></li>
                        <li class="{% block doctorlist %}{% endblock %}"><a href="{% url 'sfsapp:doctorlist' %}"><i class="zmdi zmdi-account-circle zmdi-hc-fw"></i>Doctors</a></li>
                        <li class="{% block doctorschedulelist %}{% endblock %}"><a href="{% url 'sfsapp:doctorschedulelist' %}"><i class="zmdi zmdi-calendar-alt zmdi-hc-fw"></i>Doctor Schedule</a></li>
                        {% if request.user.is_superuser %}
                        <li class="{% block stafflist %}{% endblock %}"><a href="{% url 'sfsapp:stafflist' %}" class="admin-only"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i>Staff List</a></li>
                        {% endif %}
                        <li class="navigation__sub {% block transactionparentdropdownstatus %}{% endblock %}">
                            <a><i class="zmdi zmdi-money zmdi-hc-fw"></i>Transaction Book</a>
                            <ul>
                                <li class="{% block transactionlist %}{% endblock %}"><a href="{% url 'sfsapp:transactionlist' %}"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Transaction List</a></li>
                                <li class="{% block transactioncreate %}{% endblock %}"><a href="{% url 'sfsapp:transactioncreate' %}"><i class="zmdi zmdi-plus zmdi-hc-fw"></i> Create Transaction</a></li>
                            </ul>
                        </li>
                        <li class="{% block accountsummary %}{% endblock %}"><a href="{% url 'sfsapp:accountsummary' %}"><i class="zmdi zmdi-book zmdi-hc-fw"></i>Account Summary</a></li>
                        <li><a href="{% url 'sfsapp:logout' %}"><i class="zmdi zmdi-power zmdi-hc-fw"></i>Logout</a></li>
                    </ul>
                    <div class="py-2 text-center text-white bg-green" style="border-radius: 2px;">
                        <p class="mb-1" style="font-size: 14px; font-weight: bold;"><a class="text-light" href="http://www.sarobartech.com" target="_blank">© Sarobar Technology Pvt. Ltd.</a></p>
                        <p class="mb-1">All rights reserved</p>
                    </div>
                </div>
            </aside>

            <section class="content">
                {% block stats %}

                {% endblock %}

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3 col-sm-6 col-xs-6 my-2">
                        <a href="{% url 'sfsapp:patientcreate' %}" class="btn btn-block btn-primary btn--raised" style="padding: 10px 20px;">Admit New Patient</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 my-2">
                        <a href="{% url 'sfsapp:doctorcreate' %}" class="btn btn-block btn-primary btn--raised" style="padding: 10px 20px;">Add New Doctor</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 my-2">
                        <a href="{% url 'sfsapp:labtestcreate' %}" class="btn btn-block btn-primary btn--raised" style="padding: 10px 20px;">Add New Lab Test</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 my-2">
                        <a href="{% url 'sfsapp:staffregistration' %}" class="admin-only btn btn-block btn-primary btn--raised" style="padding: 10px 20px;">Add New Staff</a>
                    </div>
                </div>

                {% block content %}
                
                {% endblock %}
            </section>
            <div class="modal fade" id="sarobar-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">                
                    </div>
                </div>
            </div>
        </main>


    <div id="style-switcher">
        <div id="toggle_button" style="background-color: #32C787;"><a style="font-size: 20px;"><i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw" style="font-size: 25px;"></i> &nbsp;Order This Software</a> 
        </div>
        <div id="style-switcher-menu">
            <h4 class="text-center">Provide Your Information</h4>
            <form method="post" action="{% url 'sfsapp:ordernow' %}">
                {% csrf_token %}
                <div class="segment">
                    {{ordernowform.as_p}}
                </div>
                <div class="segment">
                    <button class="btn btn-primary text mx-auto" style="width:200px;">Order Now!</button>
                    <!-- <div id="reset"> <a href="#" class="btn btn-sm reset">Reset</a> </div> -->
                </div>
            </form>
        </div>
    </div>

    <!-- Javascript -->
    <!-- Vendors -->
    <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js' %}"></script>


    <script src="{% static 'vendors/bower_components/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/salvattore/dist/salvattore.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>

    <!-- Datatables -->
    <script src="{% static 'vendors/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>

    <script src="{% static 'vendors/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script type="{% static 'vendors/bower_components/autosize/dist/autosize.min.js' %"></script>


  
    <script src="{% static 'vendors/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/nouislider/distribute/nouislider.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>


    <script src="{% static 'vendors/bower_components/trumbowyg/dist/trumbowyg.min.js' %}"></script>
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/rateYo/min/jquery.rateyo.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/jquery-text-counter/textcounter.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/autosize/dist/autosize.min.js' %}"></script>
    {% block js %}

    {% endblock %}


    <!-- App functions and actions -->
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>

    <script type="text/javascript">

        $(document).mouseup(function(e) 
        {
            var container = $("#style-switcher-menu");
            // jQuery('#style-switcher').css('right', 0);
            // jQuery('#style-switcher').animate({right: -themes_panel_width}, 400);

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0) 
            {
                var themes_panel = container.parent();
                themes_panel.animate({
                  right: -themes_panel_width,
                }, 400);
                    }
        });
    </script>

    <script type="text/javascript">
        $("[data-tooltip='tooltip']").tooltip();
    </script>    
    <script type="text/javascript">
        $('#sarobar-modal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    </script>
    <script type="text/javascript">
        {% if messages %}
        {% for message in messages %}
            $(window).on('load', function(){
                $.notify({
                    message: "{{message}}"
                },{
                    type:"dark"
                });
            });
        {% endfor %}
        {% endif %}
    </script>

    <script type="text/javascript">
        {% if not request.user.is_superuser %}
            $(".admin-only").removeAttr("href");
            $(".admin-only").removeClass("btn-primary");
            $(".admin-only").removeClass("btn-danger");
            $(".admin-only").addClass("btn-secondary");
            $(".admin-only").css('color','#fff');
            $(".admin-only").attr('title', 'Need Admin Privilege');
            $(".admin-only").tooltip();


            $(".staff-restricted").removeAttr("data-toggle data-target data-remote href");
            $(".staff-restricted").addClass("bg-secondary text-white");
            $(".staff-restricted").attr('title', 'Need Admin Privilege');
            $(".staff-restricted").attr('data-original-title', 'Need Admin Privilege');
            $(".staff-restricted").tooltip();
        {% endif %}
    </script>

    <script>
        jQuery(document).ready(function() {
            jQuery('.navigation__active')[0].scrollIntoView();
        });
        $('.navigation__active').click(function() {
            jQuery('.navigation__active')[0].scrollIntoView();
        });
    </script>

   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126700361-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-126700361-1');
    </script>
</body>
</html>