{% extends 'base.html' %}
{% load static %}

{% block title %}Contacted Patients{% endblock %}

{% block contactedpatientlist %}navigation__active{% endblock %}


{% block css %}
<style type="text/css">
  .blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>
{% endblock %}


{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="mb-4 p-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Patients Contacted</h4>
    <div class="table-responsive">
      <table id="data-table" class="table table-bordered">
        <thead class="thead-default">
          <tr>
            <th id="first-column" style="width: 80px;">S.N</th>
            <th>Patient</th>
            <th>Contact</th>
            <th>Doctor</th>
            <th style="width: 150px;">Schedule</th>
            <!-- <th style="width: 150px;">Contact Status</th> -->
            <th>Representative</th>
          </tr>
        </thead>
        <tfoot class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">S.N</th>
            <th>Patient</th>
            <th>Contact</th>
            <th>Doctor</th>
            <th style="width: 150px;">Schedule</th>
            <!-- <th style="width: 150px;">Contact Status</th> -->
            <th>Representative</th>
          </tr>
        </tfoot>
        <tbody>
          {% for schedule in contactedpatientlist %}
          <tr>
            <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
            <td><a href="{% url 'sfsapp:patientdetail' schedule.patient.slug %}">{{schedule.patient.name}} ({{schedule.patient.patient_code}})</a></td>
            <td>{{schedule.patient.mobile}}</td>
            <td>{% if schedule.patient.doctor %}<a href="{% url 'sfsapp:doctordetail' schedule.patient.doctor.slug %}">{{schedule.patient.doctor.name}}</a>{% endif %}</td>
            <td class="big-text" style="width: 150px;">{{schedule.schedule_date}} ({{schedule.schedule_date|timeuntil}})</td>
            <!-- <td class="big-text text-center" style="width: 150px;">
              <div class="checkbox" style="zoom:1.5;">
                <input data-id="{{schedule.id}}" data-contacted-url="{% url 'sfsapp:changecontactstatus' %}" id="{{schedule.id}}" type="checkbox" name="contacted" class="contacted checkbox" {% if schedule.contacted %}checked{% endif %}>
                <label class="checkbox__label" for="{{schedule.id}}"></label>
              </div>
            </td> -->
            <td id="by{{schedule.id}}" class="big-text">{% if schedule.contacted %}{{schedule.updated_by}}{% endif %}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7" class="text-danger text-center">-----No Followup Schedule assigned currently-----</td>
            <td hidden colspan="0"></td>
            <td hidden colspan="0"></td>
            <td hidden colspan="0"></td>
            <td hidden colspan="0"></td>
            <td hidden colspan="0"></td>
            <td hidden colspan="0"></td>
          </tr>
          {% endfor %}                
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'vendors/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

<!-- Charts and maps-->
<script src="{% static 'demo/js/flot-charts/curved-line.js' %}"></script>
<script src="{% static 'demo/js/flot-charts/line.js' %}"></script>
<script src="{% static 'demo/js/flot-charts/chart-tooltips.js' %}"></script>
<script src="{% static 'demo/js/other-charts.js' %}"></script>
<script src="{% static 'demo/js/jqvmap.js' %}"></script>
<script>
    $("input[type=checkbox]").change(function () {
      if ($(this).prop('checked') == true){
        var clas = $(this).parent().parent().parent().removeClass("blink_me");
      }
      else{
        var clas = $(this).parent().parent().parent().addClass("blink_me");
      }
      var url = $(".contacted").attr("data-contacted-url");
      var id = $(this).attr("id");
      $.ajax({            
        url: url,                   
        data: {
          'clicked': "clicked",
          'id': id
        },
        success: function (data) {
          $("#by"+id).html(data);
        }
      });
    });
</script>

{% endblock %}