{% extends 'base.html' %}
{% load static %}

{% block title %}Doctor List{% endblock %}

{% block doctorlist %}navigation__active{% endblock %}


{% block css %}
  
{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-body">
        <h4 class="mb-4 p-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">
        List of Doctors</h4>
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
                <thead class="table-secondary">
                <tr>
                    <th id="first-column" style="width: 80px;">S.N</th>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Contact</th>
                    <th>Image</th>
                    <th>Added On</th>
                    <th>Added By</th>
                </tr>
            </thead>
            <tfoot class="table-secondary">
                <tr>
                    <th id="first-column" style="width: 80px;">S.N</th>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Contact</th>
                    <th>Image</th>
                    <th>Added On</th>
                    <th>Added By</th>
                </tr>
            </tfoot>
            <tbody>
              {% for doctor in doctorlist %}
                <tr>
                    <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
                    <td><a href="{% url 'sfsapp:doctordetail' doctor.slug %}">{{doctor.name|title}}</a></td>
                    <td class="big-text">{{doctor.speciality}}</td>
                    <td class="big-text">{{doctor.mobile}}</td>
                    <td><img class="img-thumbnail" src="{% if doctor.image %}{{doctor.image.url}}{% else %}{% static 'images/doctor.png' %}{% endif %}" width="75" height="75"></td>
                    <td>{{doctor.added_on|date}}</td>
                    <td>{{doctor.created_by}}</td>
                    
                </tr>
               {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}


