{% extends 'base.html' %}
{% load static %}

{% block title %}Doctor{% endblock %}

{% block doctorlist %}navigation__active{% endblock %}


{% block css %}

{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Doctor</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.name}}
          <label>Doctor Name</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.name.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.mobile}}
          <label>Contact Number</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.mobile.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.email}}
          <label>Email</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.email.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.speciality}}
          <label>Speciality</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.speciality.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.education}}
          <label>Doctor's Qualification</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.education.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.experience}}
          <label>Experience (in Years)</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.experience.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          <p>Doctor's Image</p>
          {{form.image}}
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.image.errors}}</span>
        </div>
        <div class="form-group px-0 col-md-12 col-sm-12 col-xs-12">
          <p>Doctor Details</p>
          {{form.details}}
          <span style="position: absolute;" class="text-danger">{{form.details.errors}}</span>
        </div>
      </div>    
      <div class="row">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block js %}

{% endblock %}