{% extends 'base.html' %}
{% load static %}

{% block title %}Doctor's Schedule{% endblock %}
{% block doctorlist %}navigation__active{% endblock %}



{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'timepicker/timepicker.css' %}">
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Doctor's Schedule</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
			{{form.as_p}}
			<div class="row">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
		</form>
	</div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'timepicker/timepicker.js' %}"></script> 

<script>
	$('.timepicker').timepicki();
</script>

{% endblock %}