{% extends 'base.html' %}
{% load static %}

{% block title %}Doctor Schedule List{% endblock %}

{% block doctorschedulelist %}navigation__active{% endblock %}


{% block css %}
{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-body">
        <h4 class="mb-4 p-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">
        Doctor Schedule</h4>
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
            <p class="bg-danger text-white px-4 py-2 d-inline-block" style="border-radius: 2px;">Note: Please Click on Doctor's Name to Add or Update Doctor's Schedule</p>
        <thead class="table-secondary">
            <tr>
                <th id="first-column" style="width: 80px;">S.N</th>
                <th class="th-sch">Name</th>
                <th class="th-sch">Sunday</th>
                <th class="th-sch">Monday</th>
                <th class="th-sch">Tuesday</th>
                <th class="th-sch" style="width: 125px;">Wednesday</th>
                <th class="th-sch">Thursday</th>
                <th class="th-sch">Friday</th>
                <th class="th-sch">Saturday</th>
            </tr>
        </thead>
        <tfoot class="table-secondary">
            <tr>
                <th id="first-column" style="width: 80px;">S.N</th>
                <th class="th-sch">Name</th>
                <th class="th-sch">Sunday</th>
                <th class="th-sch">Monday</th>
                <th class="th-sch">Tuesday</th>
                <th class="th-sch" style="width: 125px;">Wednesday</th>
                <th class="th-sch">Thursday</th>
                <th class="th-sch">Friday</th>
                <th class="th-sch">Saturday</th>
            </tr>
        </tfoot>

        <tbody>
            {% for doctor in doctors %}
        <tr>
            <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
            <td >
                <a href="{% url 'sfsapp:doctordetail' doctor.slug %}">{{doctor.name|title}}</a><br>
                <small>{{doctor.speciality}}</small>
            </td>
            <td class="text-center">
            {% for schedule in doctor.doctorschedules.all %}
            {% if schedule.day == 'sunday' %}
            {{schedule.arrival}}--{{schedule.departure}}<br>
            {% endif %}
            
            {% endfor %}
            </td>
            <td class="text-center">
            {% for schedule in doctor.doctorschedules.all %}
            {% if schedule.day == 'monday' %}
            {{schedule.arrival}}--{{schedule.departure}}<br>

            {% endif %}
            
            {% endfor %}
            </td>
             <td class="text-center">
            {% for schedule in doctor.doctorschedules.all %}
            {% if schedule.day == 'tuesday' %}
            {{schedule.arrival}}--{{schedule.departure}}<br>
            {% endif %}
            
            {% endfor %}
            </td>
            <td class="text-center" style="width: 125px;">
            {% for schedule in doctor.doctorschedules.all %}
            {% if schedule.day == 'wednesday' %}
            {{schedule.arrival}}--{{schedule.departure}}<br>

            {% endif %}
            
            {% endfor %}
            </td>
             <td class="text-center">
            {% for schedule in doctor.doctorschedules.all %}
            {% if schedule.day == 'thursday' %}
            {{schedule.arrival}}--{{schedule.departure}}<br>
            {% endif %}
            
            {% endfor %}
            </td>
            <td class="text-center">
            {% for schedule in doctor.doctorschedules.all %}
            {% if schedule.day == 'friday' %}
            {{schedule.arrival}}--{{schedule.departure}}<br>

            {% endif %}
            
            {% endfor %}
            </td>
            <td class="text-center">
            {% for schedule in doctor.doctorschedules.all %}
            {% if schedule.day == 'saturday' %}
            {{schedule.arrival}}--{{schedule.departure}}<br>

            {% endif %}
            
            {% endfor %}
            </td>

        </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}




