{% extends 'base.html' %}
{% load static %}

{% block title %}Doctors{% endblock %}

{% block doctorlist %}navigation__active{% endblock %}



{% block css %}
{% endblock %}

{% block content %}

<div class="card profile">
    <div class="card-body">
        <div class="container">
            <i data-toggle="dropdown" class="pt-3 pb-3 zmdi zmdi-settings text-white pull-right" style="font-size: 25px; cursor: pointer;"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{% url 'sfsapp:doctorupdate' doctordetail.slug %}" class="dropdown-item">Update Doctor</a>
                <!-- <a data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctordelete' doctordetail.slug %}" href="{% url 'sfsapp:doctordelete' doctordetail.slug %}" class="dropdown-item staff-restricted">Delete Doctor</a> -->
            </div>
        </div>
        <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">{{doctordetail.name|title}}'s Detail</h4>
        <div class="row py-3">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <img class="img-fluid mt-3 border border-success" src="{% if doctordetail.image %}{{doctordetail.image.url}}{% else %}{% static 'images/doctor.png' %}{% endif %}" alt="">
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 px-2">
                <div class="row px-3">
                    <p class="pr-3" style="text-align: justify-all;">{% if doctordetail.details %}{{doctordetail.details|safe}}{% else %}No Details{% endif %}</p>
                </div>
                <div class="row px-3">
                    <ul class="icon-list col-md-8 col-sm-9 col-xs-12">
                        <li><i class="zmdi zmdi-phone"></i><strong>Contact Number: </strong>{{doctordetail.mobile}}</li>
                        <li><i class="zmdi zmdi-email"></i><strong>Email Address: </strong> {{doctordetail.email}}</li>
                        <li><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i><strong>Education: </strong> {{doctordetail.education}}</li>
                        <li><i class="zmdi zmdi-library zmdi-hc-fw"></i><strong>Experience: </strong> {{doctordetail.experience}} Years</li>
                        <li><i class="zmdi zmdi-star zmdi-hc-fw"></i><strong>Speciality: </strong> {{doctordetail.speciality}}</li>
                    </ul>
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <button class="btn btn-lg btn-primary text-white" id="manage-schedule">Manage Schedule</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h4 class="mb-4 p-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">List of Patients checked by {{doctordetail.name|title}}'s Detail</h4>
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
                <thead class="table-secondary">
              <tr>
                  <th id="first-column" style="width: 80px;">SN</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Mobile</th>
                  <th>First admitted on</th>
                  <th>Last visited on</th>
              </tr>
          </thead>
          <tfoot class="table-secondary">
              <tr>
                  <th id="first-column" style="width: 80px;">SN</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Mobile</th>
                  <th>First admitted On</th>
                  <th>Last visited on</th>
              </tr>
          </tfoot>
          <tbody>
            {% for patient in doctordetail.docpatients.all %}
            <tr>
                <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
                <td><a href="{% url 'sfsapp:patientdetail' patient.slug %}">{{patient.name|title}}</a></td>
                <td class="big-text">{{patient.gender}}</td>
                <td class="big-text">{{patient.mobile}}</td>
                <td>{{patient.admitted_on}}</td>
                <td>{{patient.activities.all.last.activity_on}}</td>
            </tr>
            {% endfor %}
          </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" id="schedule-table">
    <div class="card-body">
        <h4 class="mb-4 p-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">{{doctordetail.name|title}}'s Schedule</h4>
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
                
                    <tr>
                        <th>Day:</th>
                        <th class="text-center">Arrival - Departure</th>
                        <th class="text-center">Arrival - Departure</th>
                        <th class="text-center">Arrival - Departure</th>
                    </tr>
                    <tr>
                        <th>Sunday</th>
                        {% for schedule in sundayschedules %}
                        <td class="text-center">
                            <span class="text-danger">{{schedule.arrival}} ---- {{schedule.departure}}</span>
                            <br>
                            <a class="btn btn-primary px-3 my-1" style="border-radius: 2px;" href="{% url 'sfsapp:doctorscheduleupdate' doctordetail.slug schedule.id 'sunday' %}" title="Update Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                            <a class="btn btn-danger px-3 my-1 staff-restricted" style="border-radius: 2px;" data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'sunday' %}" href="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'sunday' %}" title="Delete Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
                        </td>
                        

                        {% empty %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'sunday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        <td></td>
                        {% endfor %}

                        {% if sundayschedules.count == 1 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'sunday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        {% elif sundayschedules.count == 2 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'sunday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        {% elif sundayschedules.count == 3 %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Monday</th>
                        {% for schedule in mondayschedules %}
                        <td class="text-center">
                            <span class="text-danger">{{schedule.arrival}} ---- {{schedule.departure}}</span>
                            <br>
                            <a class="btn btn-primary px-3 my-1" style="border-radius: 2px;" href="{% url 'sfsapp:doctorscheduleupdate' doctordetail.slug schedule.id 'monday' %}" title="Update Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-hc-fw zmdi-edit"></i></a>
                            <a class="btn btn-danger px-3 my-1 staff-restricted" style="border-radius: 2px;" data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'monday' %}" href="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'monday' %}" title="Delete Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
                        </td>
                        {% empty %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'monday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        <td></td>
                        {% endfor %}

                        {% if mondayschedules.count == 1 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'monday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        {% elif mondayschedules.count == 2 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'monday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        {% elif mondayschedules.count == 3 %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        {% for schedule in tuesdayschedules %}
                        <td class="text-center">
                            <span class="text-danger">{{schedule.arrival}} ---- {{schedule.departure}}</span>
                            <br>
                            <a class="btn btn-primary px-3 my-1" style="border-radius: 2px;" href="{% url 'sfsapp:doctorscheduleupdate' doctordetail.slug schedule.id 'tuesday' %}" title="Update Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                            <a class="btn btn-danger px-3 my-1 staff-restricted" style="border-radius: 2px;" data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'tuesday' %}" href="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'tuesday' %}" title="Delete Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
                        </td>
                       {% empty %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'tuesday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        <td></td>
                        {% endfor %}

                        {% if tuesdayschedules.count == 1 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'tuesday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        {% elif tuesdayschedules.count == 2 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'tuesday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        {% elif tuesdayschedules.count == 3 %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                        {% for schedule in wednesdayschedules %}
                        <td class="text-center">
                            <span class="text-danger">{{schedule.arrival}} ---- {{schedule.departure}}</span>
                            <br>
                            <a class="btn btn-primary px-3 my-1" style="border-radius: 2px;" href="{% url 'sfsapp:doctorscheduleupdate' doctordetail.slug schedule.id 'wednesday' %}" title="Update Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                            <a class="btn btn-danger px-3 my-1 staff-restricted" style="border-radius: 2px;" data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'wednesday' %}" href="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'wednesday' %}" title="Delete Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
                        </td>
                        {% empty %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'wednesday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        <td></td>
                        {% endfor %}

                        {% if wednesdayschedules.count == 1 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'wednesday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        {% elif wednesdayschedules.count == 2 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'wednesday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        {% elif wednesdayschedules.count == 3 %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        {% for schedule in thursdayschedules %}
                        <td class="text-center">
                            <span class="text-danger">{{schedule.arrival}} ---- {{schedule.departure}}</span>
                            <br>
                            <a class="btn btn-primary px-3 my-1" style="border-radius: 2px;" href="{% url 'sfsapp:doctorscheduleupdate' doctordetail.slug schedule.id 'thursday' %}" title="Update Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                            <a class="btn btn-danger px-3 my-1 staff-restricted" style="border-radius: 2px;" data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'thursday' %}" href="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'thursday' %}" title="Delete Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
                        </td>
                        
                        {% empty %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'thursday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        <td></td>
                        {% endfor %}

                        {% if thursdayschedules.count == 1 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'thursday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        {% elif thursdayschedules.count == 2 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'thursday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        {% elif thursdayschedules.count == 3 %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Friday</th>
                        {% for schedule in fridayschedules %}
                        <td class="text-center">
                            <span class="text-danger">{{schedule.arrival}} ---- {{schedule.departure}}</span>
                            <br>
                            <a class="btn btn-primary px-3 my-1" style="border-radius: 2px;" href="{% url 'sfsapp:doctorscheduleupdate' doctordetail.slug schedule.id 'friday' %}" title="Update Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                            <a class="btn btn-danger px-3 my-1 staff-restricted" style="border-radius: 2px;" data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'friday' %}" href="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'friday' %}" title="Delete Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
                        </td>
                        {% empty %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'friday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        <td></td>
                        {% endfor %}

                        {% if fridayschedules.count == 1 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'friday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        {% elif fridayschedules.count == 2 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'friday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        {% elif fridayschedules.count == 3 %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Saturday</th>
                        {% for schedule in saturdayschedules %}
                       <td class="text-center">
                            <span class="text-danger">{{schedule.arrival}} ---- {{schedule.departure}}</span>
                            <br>
                            <a class="btn btn-primary px-3 my-1" style="border-radius: 2px;" href="{% url 'sfsapp:doctorscheduleupdate' doctordetail.slug schedule.id 'saturday' %}" title="Update Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                            <a class="btn btn-danger px-3 my-1 staff-restricted" style="border-radius: 2px;" data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'saturday' %}" href="{% url 'sfsapp:doctorscheduledelete' doctordetail.slug schedule.id 'saturday' %}" title="Delete Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
                        </td>
                       {% empty %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'saturday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        <td></td>
                        {% endfor %}

                        {% if saturdayschedules.count == 1 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'saturday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        <td></td>
                        {% elif saturdayschedules.count == 2 %}
                        <td class="text-center"><a class="btn btn-primary px-3" style="border-radius: 2px;" href="{% url 'sfsapp:doctorschedulecreate' doctordetail.slug 'saturday' %}" title="Add Schedule" data-tooltip='tooltip'><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a></td>
                        {% elif saturdayschedules.count == 3 %}
                        {% endif %}
                    </tr>       
            </table>
        </div>
    </div>
</div>



{% endblock %}
              
{% block js %}
<script type="text/javascript">
    $("#manage-schedule").click(function() {
        $('html, body').animate({
            scrollTop: $("#schedule-table").offset().top - 100
        }, 1000);
    });
</script>
{% endblock %}