<form class="form" method="POST" action="{% url 'sfsapp:doctorscheduledelete' slug object.id day %}">
	{% csrf_token %}
    <div class="modal-body text-center px-3">
        <h4>Delete {{object.doctor.name}}'s  schedule on <br> "{{day}} ({{object.arrival}}-{{object.departure}}) ?</h4>
    </div>
    <div class="modal-footer px-3 py-2">
        <button class="btn btn-danger w-50 mx-1">Delete</button>
        <button class="btn btn-default w-50 mx-1" data-dismiss="modal">Cancel</button>
    </div>
</form>