{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4.min.css' %}">
	<title>Patient Information Management and Followup System</title>
	<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/datetimepicker.min.css' %}">

</head>
<body>
	<header>
		<div class="d-block h1 py-5 text-center bg-dark text-light">Registration Your Organization</div>
	</header>
	<div class="col-md-4 mx-auto justify-content-center">
		<form method="POST" action="{% url 'sfsapp:firstsetup' %}">
			
			{% csrf_token %}
			<p>{{form.as_p}}</p>
			{{form.errors}}
			<button class="btn btn-primary btn-block ">Submit</button>
		</form>
	</div>
	
</body>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datetimepicker/datetimepicker.min.js' %}"></script>
<script type="text/javascript">

    var d = new Date();

    var month = d.getMonth()+1;
    var day = d.getDate();

    var output = d.getFullYear() + '-' +
        ((''+month).length<2 ? '0' : '') + month + '-' +
        ((''+day).length<2 ? '0' : '') + day;

    $(".form_date").datetimepicker({
      pickerPosition: "top-right",
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      // minView: 1,
      forceParse: 1,
      startDate: output,
      showMeridian: 1
    });
</script>
</html>