{% extends 'base.html' %}
{% load static %}

{% block title %}Patient List on Certain Duration{% endblock %}

{% block patientlist %}navigation__active{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/datetimepicker.min.css' %}">
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">List of Patients {% if from_date and to_date %}from date : <span class="text-indigo">{{from_date}}</span> to <span class="text-indigo">{{to_date}}{% endif %}</span></h4>
    <form method="GET" action="{% url 'sfsapp:getpatientlist' %}" class="px-3 py-1" style="border: 1px solid grey; border-radius: 2px;">
      <h5 class="mb-2 py-2" style="border-radius:2px; color: #777; font-weight: 400;">Search visited patients by date:</h5>
      <div class="row">
        <div class="form-group col-md-4 col-sm-4 col-xs-12 mx-auto">
          From:<input autocomplete="off" id="from_date" placeholder="Visited From..." type="date" name="from_date" class="form-control from_date" value="{{request.GET.from_date}}" required="true">
          <i class="form-group__bar"></i>
          <!-- <span style="position: absolute;" class="text-danger">{{form.name.errors}}</span> -->
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 mx-auto">
          To:<input autocomplete="off" id="to_date" placeholder="Visited To..." type="date" name="to_date" class="form-control to_date" value="{{request.GET.to_date}}" required>
          <i class="form-group__bar"></i>
          <!-- <span style="position: absolute;" class="text-danger">{{form.name.errors}}</span> -->
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 mx-auto">
          <button class="btn btn-primary text mx-auto" style="width:200px;">Get Patients</button>
        </div>
      {% if error %}
        <span class="text-white bg-danger py-2 px-3 mx-3 my-1">Please enter the valid date</span>
      {% endif %}
      </div>
    </form>
    <div class="table-responsive">
      <table id="data-table" class="table table-bordered" style="width: 100%;">
        <thead class="table-secondary">
          <tr>
              <th style="width: 75px;" id="first-column">SN</th>
              <th>Patient</th>
              <th>Doctor</th>
              <th>Admitted On</th>
              <th>Visits on this duration</th>
              <th>Contact</th>
          </tr>
        </thead>
        <tfoot class="table-secondary">
          <tr>
            <th style="width: 75px;" id="first-column">SN</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Admitted On</th>
            <th>Visits on this duration</th>
            <th>Contact</th>
          </tr>
        </tfoot>
        <tbody>
        {% if not error and allpatients or allvisits %}
          {% for patient in allpatients %}
          <tr>
            <td id="first-column">{{forloop.counter}}</td>
            <td><a href="{% url 'sfsapp:patientdetail' patient.slug %}">{{patient.name}}<br>(Patient Code: {{patient.patient_code}})</a></td>
            <td>{% if patient.doctor %}<a href="{% url 'sfsapp:doctordetail' patient.doctor.slug %}">{{patient.doctor.name}}</a>{% else %}Doctor not assigned{% endif %}</td>
            <td class="big-text">{{patient.admitted_on}}<br>({% if patient.admitted_on|date:"Y-m-d" >= from_date %}<span class="text-primary">new patient</span>{% else %}<span class="text-success">followup patient</span>{% endif %})</td>
          
            <td class="big-text">
                <ol start="1">
              {% for visit in allvisits %}{% if patient == visit.patient %}
                  <li><a href="{% url 'sfsapp:activitydetail' visit.slug %}">{{visit.activity_on}}</a></li>
              {% endif %}{% endfor %}</td>
                </ol>
            <td class="big-text">{{patient.mobile}}</td>
          </tr>
          {% endfor %}
        {% endif %}  
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    alert(document.getElementById("from_date").value());
</script>
<script type="text/javascript" src="{% static 'datetimepicker/datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  var date = new Date(), y = date.getFullYear(), m = date.getMonth();
  var firstDay = new Date(y, m, 1);
  var lastDay = new Date(y, m + 1, 0);
  // var mydate = $("#from_date").bind("change paste keyup", function() {
  //              var mindate = $('#from_date').val();
  //              return mindate
  //           });


    $(".from_date").flatpickr({
      allowInput:false,
      maxDate: 'today',
      defaultDate: {% if request.GET %}"{{request.GET.from_date}}"{% else %}firstDay{% endif %}, 
    });
    $(".to_date").flatpickr({
      allowInput:false,
      minDate: '',
      maxDate: lastDay,
      defaultDate: {% if request.GET %}"{{request.GET.to_date}}"{% else %}lastDay{% endif %},
    });
</script>
{% endblock %}
