{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block home %}navigation__active{% endblock %}

{% block tags %}Patient Followup System, products by sarobar technology, sarobar products, manage patients, hospital management, clinic management, patient management, best online app for clinic, best online app for hospital, doctor management, doctor schedule management, followup status software, clinic software, hospital software{% endblock %}

{% block css %}
<style type="text/css">
  .blink_me {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>
{% endblock %}

{% block stats %}
<div class="row quick-stats">
  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-blue">
      <div class="quick-stats__info">
        <h2>{{notcontactedpatientlist.count}}</h2>
        <small>Patients to Follow</small>
      </div>
      <div class="quick-stats__chart sparkline-bar-stats">6,4,8,6,5,6,7,8,3,5,9,5</div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-amber">
      <div class="quick-stats__info">
        <h2>{{totalpatients}}</h2>
        <small>Total Patients</small>
      </div>
      <div class="quick-stats__chart sparkline-bar-stats">4,7,6,2,5,3,8,6,6,4,8,6</div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-purple">
      <div class="quick-stats__info">
        <h2>{{totalpatientvisits}}</h2>
        <small>Total Patient Visits</small>
      </div>
      <div class="quick-stats__chart sparkline-bar-stats">9,4,6,5,6,4,5,7,9,3,6,5</div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-red">
      <div class="quick-stats__info">
        <h2>{{totaldoctors}}</h2>
        <small>Total Doctors</small>
      </div>
      <div class="quick-stats__chart sparkline-bar-stats">5,6,3,9,7,5,4,6,5,6,4,9</div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="card">
  <div class="card-body">
    <!-- <h4 class="mb-4 p-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Dashboard</h4> -->
    <div class="tab-container">
      <ul class="nav nav-tabs nav-fill mb-4" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#followup" role="tab" style="font-weight: bold;">Patients to Follow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#contacted" role="tab" style="font-weight: bold;">Contacted Patients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#notvisited" role="tab" style="font-weight: bold;">Patients Not Visited</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active fade show" id="followup" role="tabpanel">
            <!-- <h6 class="mb-2 p-3 bg-success text-white" style="border-radius:2px; color: #333;">Patients to Follow</h6> -->
            <div class="table-responsive">
              <table id="data-table1" class="table table-bordered">
                <thead class="thead-default table-secondary">
                  <tr>
                    <th id="first-column" style="width: 80px;">S.N</th>
                    <th>Patient</th>
                    <th>Contact</th>
                    <th>Doctor</th>
                    <th style="width: 150px;">Schedule</th>
                    <th style="width: 150px;">Contact Status</th>
                    <!-- <th>Representative</th> -->
                  </tr>
                </thead>
                <tfoot class="table-secondary">
                  <tr>
                    <th id="first-column" style="width: 80px;">S.N</th>
                    <th>Patient</th>
                    <th>Contact</th>
                    <th>Doctor</th>
                    <th style="width: 150px;">Schedule</th>
                    <th style="width: 150px;">Contact Status</th>
                    <!-- <th>Representative</th> -->
                  </tr>
                </tfoot>
                <tbody>
                  {% for schedule in notcontactedpatientlist %}
                  <!-- and schedule.is_3daysremaining  -->
                  <tr id="schedulerow" data-schedule="{{schedule.schedule_date.isoformat}}">
                    <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
                    <td><a href="{% url 'sfsapp:patientdetail' schedule.patient.slug %}">{{schedule.patient.name}} ({{schedule.patient.patient_code}})</a></td>
                    <td>{{schedule.patient.mobile}}</td>
                    <td>{% if schedule.patient.doctor %}<a href="{% url 'sfsapp:doctordetail' schedule.patient.doctor.slug %}">{{schedule.patient.doctor.name}}</a>{% endif %}</td>
                    <td class="big-text" style="width: 150px;">{{schedule.schedule_date}} ({{schedule.schedule_date|timeuntil}})</td>
                    <td class="big-text text-center" style="width: 150px;">
                      <div class="checkbox" style="zoom:1.5;">
                        <input data-id="{{schedule.id}}" data-contacted-url="{% url 'sfsapp:changecontactstatus' %}" id="{{schedule.id}}" type="checkbox" name="contacted" class="contacted checkbox" {% if schedule.contacted %}checked{% endif %}>
                        <label class="checkbox__label" for="{{schedule.id}}"></label>
                      </div>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="6" class="text-danger text-center">-----No Followup Schedule assigned currently-----</td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                  </tr>
                  {% endfor %}                
                </tbody>
              </table>
            </div>
        </div>
        <div class="tab-pane fade" id="contacted" role="tabpanel">
            <!-- <h6 class="mb-2 p-3 bg-success text-white" style="border-radius:2px; color: #333;">Contacted Patients</h4> -->
            <div class="table-responsive">
              <table id="data-table2" class="table table-bordered">
                <thead class="thead-default table-secondary">
                  <tr>
                    <th id="first-column" style="width: 80px;">S.N</th>
                    <th>Patient</th>
                    <th>Contact</th>
                    <th>Doctor</th>
                    <th style="width: 150px;">Schedule</th>
                    <th style="width: 150px;">Contacted On</th>
                    <th>Representative</th>
                  </tr>
                </thead>
                <tfoot class="table-secondary">
                  <tr>
                    <th id="first-column" style="width: 80px;">S.N</th>
                    <th>Patient</th>
                    <th>Contact</th>
                    <th>Doctor</th>
                    <th style="width: 150px;">Schedule</th>
                    <th style="width: 150px;">Contacted On</th>
                    <th>Representative</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for schedule in contactedpatientlist %}
                  <tr class="{% if schedule.contacted is False %}blink_me{% endif %}" >
                    <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
                    <td><a href="{% url 'sfsapp:patientdetail' schedule.patient.slug %}">{{schedule.patient.name}} ({{schedule.patient.patient_code}})</a></td>
                    <td>{{schedule.patient.mobile}}</td>
                    <td>{% if schedule.patient.doctor %}<a href="{% url 'sfsapp:doctordetail' schedule.patient.doctor.slug %}">{{schedule.patient.doctor.name}}</a>{% endif %}</td>
                    <td class="big-text" style="width: 150px;">{{schedule.schedule_date}} ({{schedule.schedule_date|timeuntil}})</td>
                    <td class="big-text" style="width: 150px;">{{schedule.contacted_date}}</td>
                    <td id="by{{schedule.id}}" class="big-text">{% if schedule.contacted %}{{schedule.updated_by}}{% endif %}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="7" class="text-danger text-center">-----No Followup Schedule assigned currently-----</td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                    <td hidden colspan="0"></td>
                  </tr>
                  {% endfor %}                
                </tbody>
              </table>
            </div> 
        </div>
        <div class="tab-pane fade" id="notvisited" role="tabpanel">
          <!-- <h6 class="mb-2 p-3 bg-success text-white" style="border-radius:2px; color: #333;">Patients Not Visited</h4> -->
          <div class="table-responsive">
            <table id="data-table3" class="table table-bordered">
              <thead class="thead-default table-secondary">
                <tr>
                  <th id="first-column" style="width: 80px;">S.N</th>
                  <th>Patient</th>
                  <th>Contact</th>
                  <th>Doctor</th>
                  <th style="width: 150px;">Schedule</th>
                  <th style="width: 100px;">Representative</th>
                  <th style="width: 130px;">Actions</th>
                </tr>
              </thead>
              <tfoot class="table-secondary">
                <tr>
                  <th id="first-column" style="width: 80px;">S.N</th>
                  <th>Patient</th>
                  <th>Contact</th>
                  <th>Doctor</th>
                  <th style="width: 150px;">Schedule</th>
                  <th style="width: 100px;">Representative</th>
                  <th style="width: 130px;">Actions</th>
                </tr>
              </tfoot>
              <tbody>
                {% for schedule in notvisitedpatientlist %}
                <tr class="{% if schedule.contacted is False %}blink_me{% endif %}" >
                  <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
                  <td><a href="{% url 'sfsapp:patientdetail' schedule.patient.slug %}">{{schedule.patient.name}} ({{schedule.patient.patient_code}})</a></td>
                  <td>{{schedule.patient.mobile}}</td>
                  <td>{% if schedule.patient.doctor %}<a href="{% url 'sfsapp:doctordetail' schedule.patient.doctor.slug %}">{{schedule.patient.doctor.name}}</a>{% endif %}</td>
                  <td class="big-text" style="width: 150px;">{{schedule.schedule_date}} ({{schedule.schedule_date|timeuntil}})</td>
                
                  <td id="by{{schedule.id}}" class="big-text">{% if schedule.contacted %}{{schedule.updated_by}}{% endif %}</td>
                  <td>
                    <a id="scheduleupdatebtn" class="btn btn-info my-1" href="{% url 'sfsapp:scheduleupdate' schedule.slug %}"><i class="zmdi zmdi-edit zmdi-hc-fw" title="Update"></i></a>
                    <a data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:scheduledelete' schedule.slug %}" id="scheduledeletebtn" class="btn btn-danger my-1" href="{% url 'sfsapp:scheduledelete' schedule.slug %}"><i class="zmdi zmdi-close zmdi-hc-fw" title="Delete"></i></a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="7" class="text-danger text-center">-----No Followup Schedule assigned currently-----</td>
                  <td hidden colspan="0"></td>
                  <td hidden colspan="0"></td>
                  <td hidden colspan="0"></td>
                  <td hidden colspan="0"></td>
                  <td hidden colspan="0"></td>
                  <td hidden colspan="0"></td>
                </tr>
                {% endfor %}                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="followupmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="scheduleupdateform" class="form-group" method="POST" enctype="multipart/form-data">
        <br>
        <h4>Followup Form</h4>
        {% csrf_token %}
        {{scheduleupdateform.as_p}}
        <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div> -->

{% endblock %}

{% block js %}

<script src="{% static 'vendors/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

<!-- Charts and maps-->
<script src="{% static 'demo/js/flot-charts/curved-line.js' %}"></script>
<script src="{% static 'demo/js/flot-charts/line.js' %}"></script>
<script src="{% static 'demo/js/flot-charts/chart-tooltips.js' %}"></script>
<script src="{% static 'demo/js/other-charts.js' %}"></script>
<script src="{% static 'demo/js/jqvmap.js' %}"></script>

<script type="text/javascript">
  var schedule_date = new Date($("#schedulerow").attr("data-schedule"))
  var d = new Date();
  var diff = schedule_date - d;
  var day = (diff/1000 )/86400;
  if (day <= 3 ){
    $("#schedulerow").addClass("blink_me");
  }
  else{
    $("#schedulerow").removeClass("blink_me");
  }
</script>
<script>
  var clicked = ""
  $("input[type=checkbox]").change(function () {
    if ($(this).prop('checked') == true){
      var clas = $(this).parent().parent().parent().removeClass("blink_me");
      clicked = "clicked" 
    }
    else{
      var clas = $(this).parent().parent().parent().addClass("blink_me");
      clicked = "not clicked" 
    }
    var url = $(".contacted").attr("data-contacted-url");
    var id = $(this).attr("id");
    $.ajax({            
      url: url,                   
      data: {
        'clicked': clicked,
        'id': id
      },
      success: function (data) {
        $("#by"+id).html(data);
        location.reload();
      }
    });
  });
</script>

{% endblock %}