{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block home %}active{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatable/datatable.min.css' %}">
<style type="text/css">
  

</style>
{% endblock %}

{% block content %}

    <h1>Welcome to Patient Follow Up System</h1>
<div class="container-fluid" style="margin: 10px;" id="ajaxtable">
    <table class="datatable table-bordered table-hover" style="width: 100%;">
      <thead>
          <tr>
              <th id="first-column">SN</th>
              <th>Patient</th>
              <th>Contact</th>
              <th>Doctor</th>
              <th>Schedule</th>
              <th>Time Until</th>
              <th>Contact Status</th>
              <th>Contacted By</th>
          </tr>
      </thead>
    
      <tbody>
        {% for schedule in followuplist %}
          <tr {% if schedule.contacted is False %}class="blink_me" {% endif %}>
              <td id="first-column">{{forloop.counter}}</td>
              <td><a href="{% url 'sfsapp:patientdetail' schedule.patient.slug %}">{{schedule.patient.name}} ({{schedule.patient.patient_code}})</a></td>
              <td style="color: green;">{{schedule.patient.mobile}}</td>
              <td>{% if schedule.patient.doctor %}<a href="{% url 'sfsapp:doctordetail' schedule.patient.doctor.slug %}">{{schedule.patient.doctor.name}}</a>{% endif %}</td>
              <td class="big-text">{{schedule.schedule_date}}</td>
              <td class="big-text">{{schedule.schedule_date|timeuntil}}</td>
              <td class="big-text">
                <label class="cbcontainer">
                  <input data-id="{{schedule.id}}" data-contacted-url="{% url 'sfsapp:changecontactstatus' %}" id="{{schedule.id}}" type="checkbox" name="contacted" class="contacted" {% if schedule.contacted %}checked{% endif %}>
                  <span class="checkmark"></span>
                </label>
              </td>
              <td id="by{{schedule.id}}" class="big-text">{% if schedule.contacted %}{{schedule.updated_by}}{% endif %}</td>
          </tr>
         {% empty %}
          <tr>
            <td colspan="8" class="text-danger text-center">-----No Followup Schedule assigned currently-----</td>
           
          </tr>
         {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}

{% block js %}
<script>
    $("input[type=checkbox]").change(function () {
      if ($(this).prop('checked') == true){
        var clas = $(this).parent().parent().parent().removeClass("blink_me");
      }
      else{
        var clas = $(this).parent().parent().parent().addClass("blink_me");
      }
      var url = $(".contacted").attr("data-contacted-url");
      var id = $(this).attr("id");
      $.ajax({            
        url: url,                   
        data: {
          'clicked': "clicked",
          'id': id
        },
        success: function (data) {
          $("#by"+id).html(data);
        }
      });

    });
</script>
<script src="{% static 'datatable/datatable.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready( function () {
    $('.datatable').DataTable(
      {
        "scrollX": true,
      }
    )
} );
  </script>
{% endblock %}