{% extends 'base.html' %}
{% load static %}

{% block title %}Labtest{% endblock %}

{% block labtestlist %}navigation__active{% endblock %}



{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Lab Test</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-6"">
          {{form.name}}
          <label>Lab Test Name</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.name.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-6"">
          {{form.charge}}
          <label>Lab Test Charge</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.charge.errors}}</span>
        </div>
		  </div>
      <div class="row">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
