{% extends 'base.html' %}
{% load static %}

{% block title %}Lab Test{% endblock %}

{% block labtestlist %}navigation__active{% endblock %}


{% block css %}

{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Lab Test List</h4> 
    <div class="table-responsive">
      <table id="data-table" class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th id="first-column">SN</th>
            <th>Name</th>
            <th>Number of Test</th>
            <th>Added By</th>
            <th>Last Updated By</th>
            <th class="disabled-sorting text-center">Actions</th>
          </tr>
        </thead>
        <tfoot class="table-secondary">
          <tr>
            <th id="first-column">SN</th>
            <th>Name</th>
            <th>Number of Test</th>
            <th>Added By</th>
            <th>Last Updated By</th>
            <th class="text-center">Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for labtest in labtestlist %}
          <tr>
            <td id="first-column">{{forloop.counter}}</td>
            <td>{{labtest.name}}</td>
            <td>{{labtest.activities.count}}</td>
            <td>{{labtest.created_by}}</td>
            <td>{{labtest.updated_by}}</td>
            <td class="text-center">
                <a href="{% url 'sfsapp:labtestupdate' labtest.slug %}" class="btn btn-info my-1"><i class="zmdi zmdi-edit zmdi-hc-fw" title="Update" data-toggle='tooltip'></i></a>
                <a data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:labtestdelete' labtest.slug %}" href="{% url 'sfsapp:labtestdelete' labtest.slug %}" data-tooltip="tooltip" title="Delete" class="btn btn-danger my-1 staff-restricted"><i class="zmdi zmdi-close zmdi-hc-fw"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}




