{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        
        <!-- Vendor styles -->
        <link rel="stylesheet" href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.css' %}">

        <!-- App styles -->
        <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    </head>
    <body data-ma-theme="green">
        <div class="login">

            <!-- Login -->
            <div class="login__block active" id="l-login">
                <div class="login__block__header">
                    <i class="zmdi zmdi-account-circle"></i>
                    Patient Follow-up System Login
                </div>
                <form method="POST" action="{% url 'sfsapp:login' %}">
			        {% csrf_token %}

			    <div class="login__block__body">
                    <div class="form-group form-group--float form-group--centered">
                        {{form.username}}
                        <label>Enter Username</label>
                        <i class="form-group__bar"></i>
                    </div>

                    <div class="form-group form-group--float form-group--centered">
                        {{form.password}}
                        <label>Enter Password</label>
                        <i class="form-group__bar"></i>
                    </div>

                    <button class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
                </div>
			        
			        {% if request.GET.next %}
			        <input type="hidden" name="next" value="{{request.GET.next}}">
			        {% endif %}
			        {% if errors %}
			        <div class="alert alert-danger">
			            {{errors}}
			        </div>
			        {% endif %}
			        <br>
			        <div class="">
			        
				        {% if message %}
				        <h3>Your software usage time has expired.</h3>
				        <h4 class="text-danger">सफ्टवेरको म्याद समाप्त भएको छ|
				            कृपया सरोबर टेक्नोलोजी लाई सम्पर्क गर्नु होला| <br>
				            मोबाईल: ९८४९९७८८९६/9849978896<br>
				            इमेल: sarobartech@gmail.com
				            वेबसाइट: <a href="//www.sarobartech.com">www.sarobartech.com</a>
				        </h4>
				        {% endif %}

				        {% if organization %}
                        <h3>This software will expire in {{organization.expiry_date|timeuntil}}.</h3>
				        <h4 class="text-danger">सफ्टवेरको म्याद  {{organization.expiry_date|timeuntil}} मा समाप्त हुन्छ|
				            कृपया सरोबर टेक्नोलोजी लाई सम्पर्क गर्नु होला| <br>
				            मोबाईल: ९८४९९७८८९६/9849978896<br>
				            इमेल: sarobartech@gmail.com<br>
				            वेबसाइट: <a href="//www.sarobartech.com">www.sarobartech.com</a>
				        </h4>
				        {% endif %}
			    	</div>
			    </form>
            </div>
        </div>

      

        <!-- Javascript -->
        <!-- Vendors -->
        <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- App functions and actions -->
        <script src="{% static 'js/app.min.js' %}"></script>
    </body>

</html>