{% extends 'base.html' %}
{% block title %}Organization Details{% endblock %}
{% load static %}


{% block content %}

<div class="card">
    <div class="card-body">
    
	<div class="row">
		<div class="col-md-9 col-sm-8 col-xs-12">
			<table class="table table-bordered" style="width: 100%;">
			    <thead class="table-secondary">
				    <tr>   
				        <th>Organization</th>
						<td>{{organization.name}}</td>
					</tr>
				    <tr>
				        <th>
				        	<img src="{% if organization.image %}{{organization.image.url}}{% else %}{% static 'images/proprietor_default.png' %}{% endif %}" class="img-responsive img-thumbnail" style="width: 100px;">
				        </th>
						<td>
							<img src="{% if organization.logo %}{{organization.logo.url}}{% else %}{% static 'images/sarobarlogo.png' %}{% endif %}" class="img-responsive img-thumbnail" style="width: 100px;">
							{% if organization.slogan %}<br>
							 {{organization.slogan}}
							{% endif %}
						</td>
					</tr>
			    </thead>
			    <tbody>
					<tr>
						<th>Proprietor</th>
						<td>{{organization.proprietor}}</td>
					</tr>
					<tr>
						<th>Contact</th>
						<td>{{organization.phone}}/{{organization.mobile}}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{organization.email}}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>{{organization.address}}</td>
					</tr>
					<tr>
						<th>Website</th>
						<td>{{organization.website}}</td>
					</tr>
					<tr>
						<th>Software Registered on</th>
						<td>{{organization.registered_date}}</td>
					</tr>
					<tr>
						<th>Software Expires on</th>
						<td>
							{{organization.expiry_date}}<br>
							<span class="text-danger h4">{{organization.expiry_date|timeuntil}}</span>
						</td>
					</tr>
			    </tbody>
			</table>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<a class="btn btn-block btn-danger admin-only pull-right py-2 mt-0 mb-3" href="{% url 'sfsapp:organizationupdate' organization.id %}" style="margin-top: 20px; font-size: 14px;">Update Organization<br> Information</a>
			<div class="border border-danger bg-light" style="border-radius: 5px;">
				<h3 class="bg-danger m-0 p-3" style="border-top-left-radius: 5px; border-top-right-radius: 5px;text-align: center; text-transform: uppercase; font-size: 14px; color:#fff;">Software Provider</h3>
				<div class="m-2">
					<img src="{% static 'images/sarobarlogo.png' %}" class="img-fluid">
					<h5 class="text-danger" style="margin-top: 20px;">
						Contact:<br><span class="text-success">9849978896, 9860195137</span></h5>
					<h5 class="text-danger" style="margin-top: 20px;">Email: <span class="text-success">sarobartech@gmail.com</span></h5>
					<h5 class="text-danger" style="margin-top: 20px;">Website:<a target="_blank" href="http://sarobartech.com"> www.sarobartech.com</a></h5>
				</div>			
			</div>
		</div>
	</div>
	</div>	
			
</div>

{% endblock %}