{% extends 'base.html' %}
{% load static %}

{% block title %}Update Organization Info{% endblock %}
{% block home %}active{% endblock %}



{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'timepicker/timepicker.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Update Organization Information</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.name}}
          <label>Organization Name</label>
          <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.proprietor}}
          <label>Proprietor's Name</label>
          <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.address}}
          <label>Organization Address</label>
          <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
            {{form.email}}
            <label>Organization Email</label>
            <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.phone}}
          <label>Phone</label>
          <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.mobile}}
          <label>Mobile</label>
          <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-6">
          {{form.slogan}}
          <label>Organization Slogan</label>
          <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-6">
          {{form.website}}
          <label>Website</label>
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="form-group form-group--float col-6">
          <label>Organization Logo</label><br>
          <p><small>{{form.logo}}</small></p>
        </div>
        <div class="form-group form-group--float col-6">
          <label>Proprietor Image</label><br>
          <p><small>{{form.image}}</small></p>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'timepicker/timepicker.js' %}"></script> 
<script>
  $('.timepicker').timepicki();
</script>

{% endblock %}
