<form method="POST" action="{% url 'sfsapp:patientrefer' patientdetail.slug %}">
	{% csrf_token %}
	<div class="modal-body text-center px-3">
		{{form.as_p}}
    </div>
	<div class="modal-footer px-3 py-2">
        <button class="btn btn-primary w-50 mx-1">Refer</button>
        <button class="btn btn-default w-50 mx-1" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script type="text/javascript">
	document.getElementById("id_referred_to").required = true;
</script>