{% extends 'base.html' %}
{% load static %}
{% block patientlist %}navigation__active{% endblock %}



{% block title %}Patient-{{patientdetail.name}}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/datetimepicker.min.css' %}">
<style>
	.selected-link {
		background-color: #e1e1e1;
		/*color: #fff;*/
	}
</style>
{% endblock %}


{% block content %}

<div class="card">
    <div class="card-body">
		<h4 class="mb-4 p-3 bg-success text-white" style="border-radius:5px; color: #333; font-weight: 400;">Patient's Detail</h4>
		<h5 class="px-3 py-2 bg-primary text-white"  style="border-radius:5px; color: #333; font-weight: 400;">Patient Name: {{patientdetail.name}}</h5>
		
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<table class="table table-bordered table-responsive" style="width: 100%;">
				    <thead>
				    	<tr>
				    		<th>Total Visits</th>
				    		<td style="color: green;">{{patientdetail.activities.count}} times</td>
				    		<th>Patient's Mobile</th>
							<td>{{patientdetail.mobile}}</td>
				    	</tr>
					    <tr>
				    		<th>Patient Code</th>
				    		<td>{{patientdetail.patient_code}}</td>
					        <th>Admitted on</th>
							<td>{{patientdetail.admitted_on}}</td>
					    </tr>
				    </thead>
				    <tbody>
						<tr>
							<th>Gender</th>
							<td>{{patientdetail.gender}}</td>
							<th>Patient Email</th>
							<td>{{patientdetail.email}}</td>
						</tr>
						<tr>
							<th>Age</th>
							<td>{{patientdetail.age}}</td>
							<th>Blood Group</th>
							<td>{{patientdetail.blood_group}}</td>
						</tr>
						<tr>
							<th>Doctor</th>
							<td>{% if patientdetail.doctor %}<a href="{% url 'sfsapp:doctordetail' patientdetail.doctor.slug %}">{{patientdetail.doctor.name}}</a>{% else %}No doctor assigned{% endif %}</td>
							<th>Address</th>
							<td>{{patientdetail.address}}</td>
						</tr>
						<tr class="text-danger">
							<th>Next Followup Schedule</th>
							<td>{% if nextfollowup %}{{nextfollowup.schedule_date}}{% else %}None{% endif %}</td>
							<th>Subject</th>
							<td>{{nextfollowup.subject}}</td>
						</tr>
						{% if patientdetail.is_referred %}
						<tr class="text-danger">
							<th>Patient Referred To</th>
							<td>{{patientdetail.referred_to}}</td>
							<th>Referred On</th>
							<td>{{patientdetail.referred_on}}</td>
						</tr>
						{% endif %}
	 			    </tbody>
				</table>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="my-4">
					<h6 class="text-danger">Patient Added by : <span class="text-dark">{{patientdetail.created_by|title}}</span></h6>
			    	<h6 class="text-danger">Last Updated by : <span class="text-dark">{{patientdetail.updated_by|title}}</span></h6>
			    </div>
				<div class="border border-danger bg-light" style="border-radius: 5px;">
					<h3 class="bg-danger m-0 p-3" style="border-top-left-radius: 5px; border-top-right-radius: 5px;text-align: center; text-transform: uppercase; font-size: 14px; color:#fff;">Quick Actions</h3>
					<div class="m-2">
						<a class="btn btn-success btn-block" href="{% url 'sfsapp:patientupdate' patientdetail.slug %}">Update Patient Information</a>
						<!-- <a data-toggle="modal" data-target="#sarobar-modal" class="btn btn-danger btn-block staff-restricted" href="{% url 'sfsapp:patientdelete' patientdetail.slug %}" data-remote="{% url 'sfsapp:patientdelete' patientdetail.slug %}">Delete Patient</a> -->
						<a style="margin-top: 5px;" class="btn btn-primary btn-block" href="{% url 'sfsapp:activitycreate' patientdetail.slug patientdetail.id %}">Add New activity</a>	
						<a style="margin-top: 5px;" class="btn btn-warning btn-block" href="{% url 'sfsapp:patienttransactionlist' patientdetail.slug %}">View Transactions</a>	
						{% if nextfollowup %}
						<button id="scheduleupdate-btn" class="btn btn-danger btn-block" data-toggle="collapse" data-target="#scheduleupdate">Update Followup Schedule</button>
			  			<div id="scheduleupdate" class="px-1 py-2 collapse" style="margin: 10px 0;">
			    			<form class="form-group" method="POST" enctype="multipart/form-data" action="{% url 'sfsapp:scheduleupdate' nextfollowup.slug %}">
				    			<h5 class="text-center">Update Followup Schedule</h5>
				    			{% csrf_token %}
					    		{{scheduleupdateform.as_p}}
					    		<button class="btn btn-block btn-primary">Submit</button>
					    		<script type="text/javascript">
						    		var patient = document.getElementById('id_patient');
						    		patient.value = "{{patientdetail.id}}";
						    		patient.parentElement.style.display = "none";
					    		</script>
					    	</form>
					  	</div>
						{% else %}
						<button id="scheduleform-btn" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#scheduleform">Assign a Followup Schedule</button>
						<div id="scheduleform" class="px-1 py-2 collapse" style="margin: 10px 0;">
							<form method="POST" enctype="multipart/form-data" action="{% url 'sfsapp:schedulecreate' %}">
								<h5 class="text-center">New Followup Schedule</h5>
								{% csrf_token %}
								{{schedulecreateform.as_p}}
								<button class="btn btn-block btn-primary">Submit</button>
								<script type="text/javascript">
									var patient = document.getElementById('id_patient');
									patient.value = "{{patientdetail.id}}";
									patient.parentElement.style.display = "none";
								</script>
							</form>
						</div>
						{% endif %}
						{% if patientdetail.is_referred is False %}
							<a  data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:patientrefer' patientdetail.slug %}" href="{% url 'sfsapp:patientrefer' patientdetail.slug %}" style="margin-top: 5px;" class="btn btn-warning btn-block" href="{% url 'sfsapp:patientrefer' patientdetail.slug %}">Refer Patient</a>	
						{% endif %}
					</div>
				</div>
			</div>
		</div>	
	</div>	
</div>


<div class="card">
    <div class="card-body">
    	<h4 class="mb-4 p-3 bg-success text-white" style="border-radius:5px; color: #333; font-weight: 400;">
    	Patient's Past Visits:</h4>
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
                <thead>
					<tr>
						<th id="first-column" style="width: 80px;">SN</th>
						<th>Doctor</th>
						<th>Lab Tests</th>
						<th>Date of Visit</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th id="first-column" style="width: 80px;">SN</th>
						<th>Doctor</th>
						<th>Lab Tests</th>
						<th>Date of Visit</th>
						<th>Actions</th>
					</tr>
				</tfoot>
				<tbody>
					{% for activity in activitylist %}
					<tr class="{% if forloop.counter == 1 %}selected-link{% endif %}">
						<td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
						<td><a href="{% url 'sfsapp:activitydetail' activity.slug %}">{{activity.doctor.name}}</a></td>
						<td>{% for test in activity.labtest.all %}{% if forloop.count == 1 %},{% endif %}{{test.name}} {% endfor %}</td>
						<td><a href="{% url 'sfsapp:activitydetail' activity.slug %}">{{activity.activity_on}}</a></td>
						<td>
							<a data-tooltip='tooltip' href="{% if forloop.counter == 1 %} {% url 'sfsapp:activityupdate' activity.slug %}{% else %}{% url 'sfsapp:activityupdate' activity.slug 'notlast'  %} {% endif %}" class="btn btn-info" title="Update Activity"><i class="zmdi zmdi-edit"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">

	$("#scheduleupdate-btn").click(function() {
	    $('html,body').animate({
	        scrollTop: $("#scheduleupdate-btn").offset().top - 100 },
	        'slow');
	});
	$("#scheduleform-btn").click(function() {
	    $('html,body').animate({
	        scrollTop: $("#scheduleform-btn").offset().top - 100 },
	        'slow');
	});
</script>
<script type="text/javascript">
  	$(document).ready(function() {
      $('.select2-patient').select2({
      placeholder: "Select Patient..."
  	});
  });
</script>

{% endblock %}