{% extends 'base.html' %}
{% load static %}

{% block title %}Patient{% endblock %}

{% block patientlist %}navigation__active{% endblock %}


{% block css %}

{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Patient</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.name}}
          <label>Patient Name</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.name.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.blood_group}}
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.blood_group.errors}}</span>
        </div>
        <div style=" margin-top: 2.5rem; padding-left: 0;" class="form-group col-md-4 col-sm-6 col-xs-12">
          {{form.gender}}
          <!-- <label>Gender</label> -->
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.gender.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.age}}
          <label>Patient Age</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.age.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.mobile}}
          <label>Patient Contact Number</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.mobile.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.email}}
          <label>Patient Email</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.email.errors}}</span>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.doctor}}
          <!-- <label>Assigned Doctor</label> -->
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.doctor.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
          {{form.address}}
          <label>Patient Address</label>
          <i class="form-group__bar"></i>
          <span style="position: absolute;" class="text-danger">{{form.address.errors}}</span>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block js %}

{% endblock %}