{% extends 'base.html' %}
{% load static %}

{% block title %}Patient List{% endblock %}

{% block patientlist %}navigation__active{% endblock %}


{% block css %}

{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Patient List</h4>
    <form method="GET" action="{% url 'sfsapp:getpatientlist' %}" class="px-3 py-1" style="border: 1px solid grey; border-radius: 2px;">
    <h5 class="mb-2 py-2" style="border-radius:2px; color: #777; font-weight: 400;">Search patients by date:</h5>
      <div class="row">
        <div class="form-group col-md-4 col-sm-4 col-xs-12 mx-auto">
          From:<input autocomplete="off" id="from_date" placeholder="Visited From..." type="date" name="from_date" class="form-control from_date" value="{{request.GET.from_date}}" required="true">
          <i class="form-group__bar"></i>
          <!-- <span style="position: absolute;" class="text-danger">{{form.name.errors}}</span> -->
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 mx-auto">
          To:<input autocomplete="off" id="to_date" placeholder="Visited To..." type="date" name="to_date" class="form-control to_date" value="{{request.GET.to_date}}" required>
          <i class="form-group__bar"></i>
          <!-- <span style="position: absolute;" class="text-danger">{{form.name.errors}}</span> -->
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 mx-auto">
          <button class="btn btn-primary text mx-auto" style="width:200px;">Get Patients</button>
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table id="data-table" class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Name</th>
            <th style="width: 135px;">Patient Code</th>
            <th>Doctor</th>
            <th style="width: 100px;">Gender</th>
            <th>Mobile</th>
            <th style="width: 130px;">Admitted on</th>
            <th style="width: 130px;">Admitted By</th>
          </tr>
        </thead>
        <tfoot class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Name</th>
            <th style="width: 135px;">Patient Code</th>
            <th>Doctor</th>
            <th style="width: 100px;">Gender</th>
            <th>Mobile</th>
            <th style="width: 130px;">Admitted On</th>
            <th style="width: 130px;">Admitted By</th>
          </tr>
        </tfoot>
        <tbody>
          {% for patient in patientlist %}
          <tr>
            <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
            <td><a href="{% url 'sfsapp:patientdetail' patient.slug %}">{{patient.name|title}}</a></td>
            <td style="width: 135px;"><a href="{% url 'sfsapp:patientdetail' patient.slug %}">{{patient.patient_code}}</a></td>
            <td class="big-text">
              {% if patient.doctor %}<a href="{% url 'sfsapp:doctordetail' patient.doctor.slug %}">{{patient.doctor.name|title}}</a>
            {% else %}Doctor not assigned{% endif %}</td>
            <td class="big-text" style="width: 100px;">{{patient.gender}}</td>
            <td class="big-text">{{patient.mobile}}</td>
            <td>{{patient.admitted_on}}</td>
            <td style="width: 130px;">{{patient.created_by}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'datetimepicker/datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  var date = new Date(), y = date.getFullYear(), m = date.getMonth();
  var firstDay = new Date(y, m, 1);
  var lastDay = new Date(y, m + 1, 0);
  // var mydate = $("#from_date").bind("change paste keyup", function() {
  //              var mindate = $('#from_date').val();
  //              return mindate
  //           });


    $(".from_date").flatpickr({
      allowInput:false,
      maxDate:"today",
      defaultDate: {% if request.GET %}"{{request.GET.from_date}}"{% else %}firstDay{% endif %}, 
    });
    $(".to_date").flatpickr({
      allowInput:false,
      minDate:"",
      maxDate: lastDay,
      defaultDate: {% if request.GET %}"{{request.GET.to_date}}"{% else %}lastDay{% endif %},
    });
</script>
{% endblock %}


