{% extends 'base.html' %}
{% load static %}

{% block title %}Patient Search Result{% endblock %}

{% block content %}

<div class="card" id="patient-report">
    <div class="card-body">
		<h4 class="card-title">No such patient found with this patient code</h4>
	</div>	
</div>


{% endblock %}