{% extends 'base.html' %}
{% load static %}

{% block title %}Schedule{% endblock %}

{% block schedulelist %}navigation__active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Schedule</h4>
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        {{form.as_p}}
      <div class="row my-2">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $("#id_patient").parent().hide();
</script>

<script type="text/javascript">
  $("#id_schedule_date").click(function() {
      $('html,body').animate({
          scrollTop: 300 },
          'slow');
  });
</script>

{% endblock %}
