<form class="form" method="POST" action="{% url 'sfsapp:scheduledelete' object.slug %}">
	{% csrf_token %}
    <div class="modal-body text-center px-3">
        <h4>Are you sure you want to delete {{object.name}}?</h4>
    </div>
    <div class="modal-footer px-3 py-2">
        <button class="btn btn-danger w-50 mx-1">Delete</button>
        <button class="btn btn-default w-50 mx-1" data-dismiss="modal">Cancel</button>
    </div>
</form>