{% extends 'base.html' %}
{% load static %}

{% block title %}Follow Up{% endblock %}

{% block schedulelist %}navigation__active{% endblock %}


{% block css %}

{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-body">
        <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">All Patients</h4>
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
                <thead class="table-secondary">
              <tr>
                  <th style="width: 75px;" id="first-column">SN</th>
                  <th>Patient</th>
                  <th>Doctor</th>
                  <th>Scheduled On</th>
                  <th>Scheduled For</th>
                  <th style="width: 150px;">Contact Status</th>
                  <th>Visit Status</th>
              </tr>
          </thead>
          <tfoot class="table-secondary">
              <tr>
                  <th style="width: 75px;" id="first-column">SN</th>
                  <th>Patient</th>
                  <th>Doctor</th>
                  <th>Scheduled On</th>
                  <th>Scheduled For</th>
                  <th style="width: 150px;">Contact Status</th>
                  <th>Visit Status</th>
              </tr>
          </tfoot>
          <tbody>
            {% for schedule in schedulelist %}
              <tr>
                  <td id="first-column">{{forloop.counter}}</td>
                  <td>{% if schedule.patient %}<a href="{% url 'sfsapp:patientdetail' schedule.patient.slug %}">{{schedule.patient.name}}</a>{% endif %}</td>
                  <td>{% if schedule.patient.doctor %}<a href="{% url 'sfsapp:doctordetail' schedule.patient.doctor.slug %}">{{schedule.patient.doctor.name}}</a>{% endif %}</td>
                  <td class="big-text">{{schedule.scheduled_on}}</td>
                  <td class="big-text">{{schedule.schedule_date}}</td>
                  <td class="big-text">{% if schedule.contacted %}Contacted on ({{schedule.contacted_date}}){% else %}Not Contacted{% endif %}</td>
                  <td class="big-text">{% if schedule.visited %}Visited{% else %}Not Visited{% endif %}</td>
              </tr>
             {% endfor %}
          </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}
