{% extends 'base.html' %}
{% load static %}

{% block title %}Update Staff{% endblock %}

{% block stafflist %}active{% endblock %}



{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400; margin-bottom: 20px;">Update Staff</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row container-fluid" style="margin-bottom: 20px;">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.username}}
          <label>Username</label>
          <i class="form-group__bar"></i>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
          {{form.email}}
          <label>Email</label>
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
	document.getElementById('id_username').value = "{{staff.username}}"
	document.getElementById('id_email').value = "{{staff.email}}"
</script>

{% endblock %}
