<h4 class="bg-light text-center px-3 py-3">Change Password</h4>
<form method="POST" enctype="multipart/form-data" action="{% url 'sfsapp:staffpasswordchange' username %}">
	{% csrf_token %}
  	<div class="modal-body text-center px-3 py-1">
  		<div class="form-group form-group--float col-12">
            {{form.password}}
            <label>Password</label>
            <i class="form-group__bar"></i>  
        </div>
        <div class="form-group form-group--float col-12">
            {{form.confirm_password}}
            <label>Confirm password</label>
            <i class="form-group__bar"></i>
        </div>
        <div>
          <h4 class="text-center text-danger" id="password_error"></h4>
        </div>
    </div>
    <div class="modal-footer px-3 py-2">
	  	<button class="btn btn-primary w-50 mx-1">Submit</button>
	  	<button class="btn btn-default w-50 mx-1" data-dismiss="modal">Cancel</button>
	</div>
</form>
{% load static %}
<script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript">
    function checkPasswordMatch() {
        var password = $("#id_password").val();
        var confirmPassword = $("#id_confirm_password").val();

        if (password != confirmPassword){
            $("#password_error").html("<i class='zmdi zmdi-close-circle'></i> Passwords do not match!");
            $("#password_error").removeClass('text-success');
            $("#password_error").addClass('text-danger');
            $("#submit").attr("disabled","disabled");
          }
        else{
            $("#password_error").html("<i class='zmdi zmdi-check-circle'></i> Passwords matched.");
            $("#password_error").removeClass('text-danger');
            $("#password_error").addClass('text-success');
            $("#submit").removeAttr('disabled');

          }
    }

    $(document).ready(function () {
       $("#id_confirm_password").keyup(checkPasswordMatch);
    });
</script>