{% extends 'base.html' %}
{% load static %}

{% block title %}Add Doctor{% endblock %}

{% block stafflist %}navigation__active{% endblock %}



{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Add New Staff</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row container-fluid">
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
            {{form.username}}
            <label>Username</label>
            <i class="form-group__bar"></i>
            <span style="position: absolute;" class="text-danger">{{form.username.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
            {{form.email}}
            <label>Email</label>
            <i class="form-group__bar"></i>
            <span style="position: absolute;" class="text-danger">{{form.email.errors}}</span>
        </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
            {{form.password1}}
            <label>Password</label>
            <i class="form-group__bar"></i>
            <span style="position: absolute;" class="text-danger">{{form.password1.errors}}</span>
          </div>
        <div class="form-group form-group--float col-md-6 col-sm-6 col-xs-12">
            {{form.password2}}
            <label>Confirm Password</label>
            <i class="form-group__bar"></i>
            <span style="position: absolute;" class="text-danger">{{form.password2.errors}}</span>
        </div>
      </div>
      <div class="row mt-2">
        <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  function checkPasswordMatch() {
    var password = $("#id_password1").val();
    var confirmPassword = $("#id_password2").val();

    if (password != confirmPassword){
      $("#password_error").html("* Passwords do not match!");
      $("#password_error").removeClass('text-success');
      $("#password_error").addClass('text-danger');
    }
    else {
      $("#password_error").html("<i class='zmdi zmdi-check-circle '></i>Passwords matched.");
      $("#password_error").removeClass('text-danger');
      $("#password_error").addClass('text-success');
    }
  }
  $(document).ready(function () {
     $("#id_password2").keyup(checkPasswordMatch);
  });
  
  $(function() {
    $('#id_username').on('keypress', function(e) {
        if (e.which == 32)
            return false;
    });
  });
</script>

{% endblock %}