{% extends 'base.html' %}
{% load static %}

{% block title %}Staff List{% endblock %}

{% block stafflist %}navigation__active{% endblock %}


{% block css %}
  
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 p-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Staff List</h4>
    <div class="table-responsive">
      <table id="data-table" class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Last Logged in</th>
            <th>Update</th>
          </tr>
        </thead>
        <tfoot class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Last Logged in</th>
            <th>Update</th>
          </tr>
        </tfoot>
        <tbody>
          {% for staff in stafflist %}
          <tr>
            <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
            <td>{{staff.username}}</td>
            <td>{{staff.email}}</td>
            <td>{{staff.date_joined}}</td>
            <td>{{staff.last_login}}</td>
           
            <td class="text-right">
                <a data-tooltip='tooltip' href="{% url 'sfsapp:staffupdate' staff.username %}" class="btn btn-info" title="Update Info"><i class="zmdi zmdi-edit"></i></a>
                <a data-tooltip='tooltip' data-toggle="modal" data-target="#sarobar-modal" data-remote="{% url 'sfsapp:staffpasswordchange' staff.username %}" href="{% url 'sfsapp:staffpasswordchange' staff.username %}" class="btn btn-danger admin-only" title="Change Password"><i class="zmdi zmdi-refresh-sync"></i></a>
            </td>         
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
