{% extends 'base.html' %}
{% load static %}

{% block title %}Account Summary{% endblock %}

{% block accountsummary %}navigation__active{% endblock %}


{% block css %}

{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Due Amount List</h4>
    <div class="table-responsive">
      <table id="data-table" class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Patient Name</th>
            <th>Mobile</th>
            <th>Due Amount</th>
          </tr>
        </thead>
        <tfoot class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Patient Name</th>
            <th>Mobile</th>
            <th>Due Amount</th>
          </tr>
        </tfoot>
        <tbody>
          {% for patient in patientswithdue %}
          <tr>
            <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
            <td><a href="{% url 'sfsapp:patientdetail' patient.slug %}">{{patient.name|title}} ({{patient.patient_code}})</a></td>
            <td class="big-text">{{patient.mobile}}</td>
            <td class="big-text">{{patient.due_amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'datetimepicker/datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  var date = new Date(), y = date.getFullYear(), m = date.getMonth();
  var firstDay = new Date(y, m, 1);
  var lastDay = new Date(y, m + 1, 0);
  // var mydate = $("#from_date").bind("change paste keyup", function() {
  //              var mindate = $('#from_date').val();
  //              return mindate
  //           });


    $(".from_date").flatpickr({
      allowInput:false,
      maxDate:"today",
      defaultDate: {% if request.GET %}"{{request.GET.from_date}}"{% else %}firstDay{% endif %}, 
    });
    $(".to_date").flatpickr({
      allowInput:false,
      minDate:"",
      maxDate: lastDay,
      defaultDate: {% if request.GET %}"{{request.GET.to_date}}"{% else %}lastDay{% endif %},
    });
</script>
{% endblock %}


