{% extends 'base.html' %}
{% load static %}

{% block title %}Patient Transaction List{% endblock %}

{% block patientlist %}navigation__active{% endblock %}


{% block css %}

{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white">Patient's Account Summary</h4>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
          <h4 class="text-secondary">Total Amount</h4><hr>
          <h5 class="text-primary">Rs. {{patientdetail.total_amount}}/-</h5>          
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <h4 class="text-secondary">Total Paid Amount</h4><hr>
          <h5 class="text-success">Rs. {{patientdetail.paid_amount}}/-</h5>          
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <h4 class="text-secondary">Total Due Amount</h4>   <hr>
          <h5 class="text-danger">Rs. {{patientdetail.due_amount}}/-</h5>          
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Transaction List</h4>
    <div class="table-responsive">
      <a style="width:200px;" class="my-2 btn btn-primary" href="{% url 'sfsapp:patienttransactioncreate' patientdetail.slug %}">Add Transaction</a>
        
      <table id="data-table" class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Patient</th>
            <th style="width: 135px;">Amount</th>
            <th>Deposited By</th>
            <th style="width: 100px;">Date</th>
            <th style="width: 130px;">Previous Due</th>
            <th>Paid Amount</th>
            <th>Due Amount</th>
            <th style="width: 130px;">Received By</th>
          </tr>
        </thead>
        <tfoot class="table-secondary">
          <tr>
            <th id="first-column" style="width: 80px;">SN</th>
            <th>Patient</th>
            <th style="width: 135px;">Amount</th>
            <th>Deposited By</th>
            <th style="width: 100px;">Date</th>
            <th style="width: 130px;">Previous Due</th>
            <th>Paid Amount</th>
            <th>Due Amount</th>
            <th style="width: 130px;">Received By</th>
          </tr>
        </tfoot>
        <tbody>
          {% for transaction in patientdetail.transactions.all %}
          <tr>
            <td id="first-column" style="width: 80px;">{{forloop.counter}}</td>
            <td><a href="{% url 'sfsapp:transactiondetail' transaction.id %}">{{transaction.patient.name|title}}</a></td>
            <td>{{transaction.net}}</td>
            <td>{{transaction.deposited_by}}</td>
            <td style="width: 135px;" class="big-text">{{transaction.date}}</td>
            <td class="big-text" style="width: 100px;">{{transaction.previous_due}}</td>
            <td class="big-text">{{transaction.advance}}</td>
            <td class="big-text">{{transaction.due}}</td>
            <td style="width: 130px;">{{transaction.received_by}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}