<div class="card py-5">
  <div class="card-body mx-auto" style="background-color: #E9FAFC; width: 700px;">
    <div class="container">
      <h3 class="mb-5 px-3 py-3 text-center" style="color: #666; font-weight: 400;border-bottom: 2px solid #999;">Transaction</h3>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <hr><h4 style="font-weight: 400; color: #666;">Basic Information</h4><hr>
          <div class="row container-fluid">
            <div class="col-md-6">
              <label>Patient</label>
            </div>
            <div class="col-md-6">
              {{form.patient}}
              <span style="position: absolute;" class="text-danger">{{form.doctor_charge.errors}}</span>
            </div>
            <div class="col-md-6">
              <label>Deposited By</label>
            </div>
            <div class="col-md-6">
              {{form.deposited_by}}
              <span style="position: absolute;" class="text-danger">{{form.doctor_charge.errors}}</span>
            </div>
            <div class="col-md-6">
              <label>Mobile</label>
            </div>
            <div class="col-md-6">
              {{form.mobile}}
              <span style="position: absolute;" class="text-danger">{{form.doctor_charge.errors}}</span>
            </div>
          </div>  
          <br>
        	<hr><h4 style="font-weight: 400; color: #666;">Service and Charge</h4><hr>
          <div class="row container-fluid">
          	<div class="col-md-6">
          		<label>Doctor Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.doctor_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.doctor_charge.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Medicine Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.medicine_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.medicine_charge.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Lab Test Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.labtest_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.labtest_charge.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Miscellaneous Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.misc_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.misc_charge.errors}}</span>
          	</div>
          </div>
          <br>
          <hr><h4 style="font-weight: 400; color: #666;">Total <span class="float-right pr-4" id="total"></span></h4><hr>
          <div class="row container-fluid">
          	<div class="col-md-6">
          		<label>Discount</label>
          	</div>
          	<div class="col-md-6">
	          {{form.discount}}
	          <span style="position: absolute;" class="text-danger">{{form.discount.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>VAT (%)</label>
          	</div>
          	<div class="col-md-6">
	          {{form.vat}}
	          <span style="position: absolute;" class="text-danger">{{form.discount.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Net Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.net}}
	          <span style="position: absolute;" class="text-danger">{{form.net.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Advance Payment</label>
          	</div>
          	<div class="col-md-6">
	          {{form.advance}}
	          <span style="position: absolute;" class="text-danger">{{form.advance.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Previous Due</label>
          	</div>
          	<div class="col-md-6">
	          {{form.previous_due}}
	          <span style="position: absolute;" class="text-danger">{{form.previous_due.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Remaining Due</label>
          	</div>
          	<div class="col-md-6">
	          {{form.due}}
	          <span style="position: absolute;" class="text-danger">{{form.due.errors}}</span>
          	</div>
          	<br>
          	<div class="col-md-12">
          		<label>Description</label>
          	</div>
          	<div class="col-md-12">
              <div style="border: 1px solid #aaa;">
	             {{form.description}}
	             <span style="position: absolute;" class="text-danger">{{form.description.errors}}</span>
              </div>
          	</div>
          </div>
          <hr>
        </div>
  		  <div class="row">
  			 <button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
  		  </div>
      </form>
    </div>
  </div>
</div>
