{% extends '../base.html' %}
{% load static %}

{% block title %}Transaction Create{% endblock %}

{% block transactionparentdropdownstatus %}navigation__sub--active navigation__sub--toggled{% endblock %}
{% block transactioncreate %}navigation__active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Transaction</h4>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    	<h4>Basic Information</h4><hr>
        <div class="row container-fluid">
          <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
  	        {{form.patient}}
            <!-- <label>Select Patient</label> -->
            <i class="form-group__bar"></i>
            <span style="position: absolute;" class="text-danger">{{form.patient.errors}}</span>
        	</div>
          <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
            {{form.deposited_by}}
            <!-- <label>Deposited By</label> -->
            <i class="form-group__bar"></i>
            <span style="position: absolute;" class="text-danger">{{form.deposited_by.errors}}</span>
          </div>
          <div class="form-group form-group--float col-md-4 col-sm-6 col-xs-12">
            {{form.mobile}}
            <!-- <label>Mobile</label> -->
            <i class="form-group__bar"></i>
            <span style="position: absolute;" class="text-danger">{{form.mobile.errors}}</span>
          </div>
        </div>
        <br>
      	<h4>Service and Charge</h4><hr>
        <div class="row container-fluid">
          	<div class="col-md-6">
          		<label>Doctor Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.doctor_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.doctor_charge.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Medicine Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.medicine_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.medicine_charge.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Labtest Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.labtest_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.labtest_charge.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Miscellaneous Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.misc_charge}}
	          <span style="position: absolute;" class="text-danger">{{form.misc_charge.errors}}</span>
          	</div>
        </div>
        <br>
        <h4>Total <span class="float-right pr-4" id="total"></span></h4>
        <hr>
        <div class="row container-fluid">
          	<div class="col-md-6">
          		<label>Discount</label>
          	</div>
          	<div class="col-md-6">
	          {{form.discount}}
	          <span style="position: absolute;" class="text-danger">{{form.discount.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>VAT (%)</label>
          	</div>
          	<div class="col-md-6">
	          {{form.vat}}
	          <span style="position: absolute;" class="text-danger">{{form.discount.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Net Charge</label>
          	</div>
          	<div class="col-md-6">
	          {{form.net}}
	          <span style="position: absolute;" class="text-danger">{{form.net.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Advance Payment</label>
          	</div>
          	<div class="col-md-6">
	          {{form.advance}}
	          <span style="position: absolute;" class="text-danger">{{form.advance.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Previous Deu</label>
          	</div>
          	<div class="col-md-6">
	          {{form.previous_due}}
	          <span style="position: absolute;" class="text-danger">{{form.previous_due.errors}}</span>
          	</div>
          	<div class="col-md-6">
          		<label>Due</label>
          	</div>
          	<div class="col-md-6">
	          {{form.due}}
	          <span style="position: absolute;" class="text-danger">{{form.due.errors}}</span>
          	</div>
          	<br>
          	<div class="col-md-6">
          		<label>Description</label>
          	</div>
          	<div class="col-md-6">
	          {{form.description}}
	          <span style="position: absolute;" class="text-danger">{{form.description.errors}}</span>
          	</div>
        </div>
        <hr>
		<div class="row">
			<button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
		</div>
    </form>
  </div>
</div>
<script type="text/javascript">
	function findTotal(){
		var doctor_charge = parseInt(document.getElementById("id_doctor_charge").value);
		var medicine_charge = parseInt(document.getElementById("id_medicine_charge").value);
		var labtest_charge = parseInt(document.getElementById("id_labtest_charge").value);
		var misc_charge = parseInt(document.getElementById("id_misc_charge").value);
		var discount = parseInt(document.getElementById("id_discount").value);
		var vat = parseInt(document.getElementById("id_vat").value);
		var previous_due = parseInt(document.getElementById("id_previous_due").value);
		var advance = parseInt(document.getElementById("id_advance").value);
		if(!doctor_charge){doctor_charge=0}
		if(!medicine_charge){medicine_charge=0}
		if(!labtest_charge){labtest_charge=0}
		if(!misc_charge){misc_charge=0}
		if(!discount){discount=0}
		if(!vat){vat=0}
		if(!advance){advance=0}
		if(!previous_due){previous_due=0}
		
		var total = doctor_charge + medicine_charge + labtest_charge + misc_charge;
		document.getElementById('total').innerHTML ="Rs. " + total;
		var discounted_amount = total - discount;
		var net = discounted_amount - vat/100 * discounted_amount;
		document.getElementById('id_net').value = net;
		document.getElementById('id_due').value = net - advance + previous_due;

	}
</script>
{% endblock %}


{% block js %}


{% endblock %}