{% extends '../base.html' %}
{% load static %}

{% block title %}Transaction{% endblock %}

{% block transactionparentdropdownstatus %}navigation__sub--active navigation__sub--toggled{% endblock %}
{% block transactioncreate %}navigation__active{% endblock %}


{% block css %}

<style>
  .form-element {
    /*border: 0px solid #888;*/
    padding: 10px 10px 10px 10px;
    display: inline;
  }
  .form-element span {
    margin: 0 5px;
    display: inline-block;
  }
  .form-element .form-control {
    margin: 0 5px;
    display: inline-block;
  }
  .text-input, option {
    border: 1px solid;
    padding-left: 20px;
  }
  .number-input {
    border: 1px solid;
    -moz-appearance: textfield;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-input:focus {
    border: 1px solid;
    background-color: #F9E79F;
  }
  .number-input:focus {
    border: 1px solid;
    background-color: #F9E79F;
  } 
  .number-input::-webkit-outer-spin-button,
  .number-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .select2 {
    border: 1px solid;
    width:50%;
  }

</style>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <!-- <h4 class="mb-4 px-3 py-3 bg-success text-white" style="border-radius:2px; color: #333; font-weight: 400;">Transaction</h4> -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
          <div class="row py-2 text-center" style="background-color: #2299a3;">
            <h4 class="col-12 text-white">{{organization.name}}</h4>
            <br>
            <h5 class="col-12 text-white">Transaction</h5>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 py-4 px-3 bg-light">
              <div class="my-3 py-2">
                Patient Name: {{form.patient}}
                <span style="position: absolute;" class="text-danger">{{form.patient.errors}}</span>
              </div>
              <div class="my-3 py-2">
                Service Name: {{form.service_name}}
                <span style="position: absolute;" class="text-danger">{{form.service_name.errors}}</span>
              </div>
              <div class="my-3 py-2">
                Mobile: {{form.mobile}}
                <span style="position: absolute;" class="text-danger">{{form.mobile.errors}}</span>
              </div>
            </div>
            <!-- <div class="col-md-2 hidden-sm hidden-xs py-2 px-2 bg-light">
            </div> -->
            <div class="col-md-6 col-sm-6 col-xs-12 py-4 px-3 bg-light">
              <div class="my-3 py-2">
                Payment Method: {{form.payment_method}}
                <span style="position: absolute;" class="text-danger">{{form.payment_method.errors}}</span>
              </div>
              <div class="my-3 py-2">
                Cash Deposited By: {{form.deposited_by}}
                <span style="position: absolute;" class="text-danger">{{form.deposited_by.errors}}</span>
              </div>
            </div>
          </div>
          <div class="row my-2" style="border: 1px solid grey;">
            <div class="table-responsive" style="background-color: #fff1f1;">
              <table id="transaction-datatable" class="table table-bordered">
                <thead class="table-secondary">
                  <tr>
                    <th id="first-column" style="width: 80px;">SN</th>
                    <th style="width: 250px;">Service</th>
                    <th style="width: 135px;">Charge</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="first-column" style="width: 80px;">1</td>
                    <td style="width: 250px;">Doctor Charge</td>
                    <td style="width: 135px;">
                      {{form.doctor_charge}}
                      <span style="position: absolute;" class="text-danger">{{form.doctor_charge.errors}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td id="first-column" style="width: 80px;">2</td>
                    <td style="width: 250px;">Lab Test Charge</td>
                    <td style="width: 135px;">
                      {{form.labtest_charge}}
                      <span style="position: absolute;" class="text-danger">{{form.labtest_charge.errors}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td id="first-column" style="width: 80px;">3</td>
                    <td style="width: 250px;">Medicine Charge</td>
                    <td style="width: 135px;">
                      {{form.medicine_charge}}
                      <span style="position: absolute;" class="text-danger">{{form.medicine_charge.errors}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td id="first-column" style="width: 80px;">4</td>
                    <td style="width: 250px;">Miscellaneous Charge</td>
                    <td style="width: 135px;">
                      {{form.misc_charge}}
                      <span style="position: absolute;" class="text-danger">{{form.misc_charge.errors}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row py-3" style="background-color: #f1f1ff;">
            <div class="col-md-6 col-sm-6 col-xs-12">
              Description:
              {{form.description}}
            <span style="position: absolute;" class="text-danger">{{form.description.errors}}</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <h5>Sub Total <span class="float-right pr-3" id="total"></span></h5>
              <div class="">
                <span style="width:50%; float: left;">Discount</span> 
                {{form.discount}}
                <span style="position: absolute;" class="text-danger">{{form.discount.errors}}</span>
              </div>
              <div class="my-1">
                <span style="width:50%; float: left;">VAT (%)</span>
                {{form.vat}}
                <span style="position: absolute;" class="text-danger">{{form.discount.errors}}</span>
              </div>
              <div class="my-1">
                <span style="width:50%; float: left; font-weight: 600;">Net Total</span>
                {{form.net}}
                <span style="position: absolute;" class="text-danger">{{form.net.errors}}</span>
              </div>
              <div class="my-1">
                <span style="width:50%; float: left;">Advance Payment</span>
                {{form.advance}}
                <span style="position: absolute;" class="text-danger">{{form.advance.errors}}</span>
              </div>
              <div class="my-1">
                <span style="width:50%; float: left;">Previous Due</span>
                {{form.previous_due}}
                <span style="position: absolute;" class="text-danger">{{form.previous_due.errors}}</span>
              </div>
              <div class="my-1 text-danger">
                <span style="width:50%; float: left;">Remaining Due</span>
                {{form.due}}
                <span style="position: absolute;" class="text-danger">{{form.due.errors}}</span>
              </div>            
            </div>
          </div>
        </div>
  		<div class="row my-3">
  			<button class="btn btn-primary text mx-auto" style="width:200px;">Submit</button>
  		</div>
    </form>
  </div>
</div>

{% endblock %}


{% block js %}

<script type="text/javascript">
  
</script>

<script type="text/javascript">
  {% if view.kwargs.slug %}
    document.getElementById('id_patient').parentElement.style.display = 'none';
    document.getElementById('id_patient').value = '{{thispatient_id}}';
    document.getElementById('id_previous_due').value = '{{thispatientdue}}';
  {% else %}

	$('#id_patient').change(function(){
		var url = {% url 'sfsapp:getpreviousdue' %};
		var patient_id = $(this).val();
		$.ajax({            
	      url: url,                   
	      data: {
	        'patient_id':patient_id,
	      },
	      success: function (data) {
	        $("#id_previous_due").val(data);
	      }
	    });
	});
  {% endif %}
	
	function findTotal(){
		var doctor_charge = parseInt(document.getElementById("id_doctor_charge").value);
		var medicine_charge = parseInt(document.getElementById("id_medicine_charge").value);
		var labtest_charge = parseInt(document.getElementById("id_labtest_charge").value);
		var misc_charge = parseInt(document.getElementById("id_misc_charge").value);
		var discount = parseInt(document.getElementById("id_discount").value);
		var vat = parseInt(document.getElementById("id_vat").value);
		var previous_due = parseInt(document.getElementById("id_previous_due").value);
		var advance = parseInt(document.getElementById("id_advance").value);
		if(!doctor_charge){doctor_charge=0}
		if(!medicine_charge){medicine_charge=0}
		if(!labtest_charge){labtest_charge=0}
		if(!misc_charge){misc_charge=0}
		if(!discount){discount=0}
		if(!vat){vat=0}
		if(!advance){advance=0}
		if(!previous_due){previous_due=0}
		
		var total = doctor_charge + medicine_charge + labtest_charge + misc_charge;
		document.getElementById('total').innerHTML ="Rs. " + total;
		var discounted_amount = total - discount;
    var vat_amt = vat/100 * discounted_amount;
		var net = discounted_amount + vat_amt;
    document.getElementById('id_vat').value = vat;
    document.getElementById('id_net').value = net;
    document.getElementById('id_due').value = net - advance + previous_due;
	}
</script>

<script type="text/javascript">
  $(".form-input-text-select").click(function () {
    $(this).select();
  });

  $(':input[type=number]').on('mousewheel', function(e){
    e.preventDefault();
  });
  $('.form-input-text-select').change(function(){
    var value = $(this).val();
    if (value == '') {
      $(this).val(0);
    }
  });
</script>

{% endblock %}