{% extends 'base.html' %}
{% load static %}
{% block patientlist %}navigation__active{% endblock %}


{% block title %}Patient-{{transactiondetail.patient.name}}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/datetimepicker.min.css' %}">
<style>
	.selected-link {
		background-color: #e1e1e1;
		/*color: #fff;*/
	}
</style>
{% endblock %}


{% block content %}

<div class="card">
    <div class="card-body px-3">
		<h4 class="mb-4 p-3 bg-success text-white" style="border-radius:5px; font-weight: 400;">Transaction Detail</h4>
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<table class="table table-bordered w-auto mr-auto" style="width: 100%">
					<thead class="table-secondary">
						<tr><td colspan="2" class="text-center">Details</td></tr>
					</thead>
					<tbody>
						<tr><td>Patient Name:</td><td><a href="{% url 'sfsapp:patientdetail' transactiondetail.patient.slug %}">{{transactiondetail.patient.name|title}}</a></td></tr>
						<tr><td>Patient Code:</td><td>{{transactiondetail.patient.patient_code}}</td></tr>
						<tr><td>Date of Transaction:</td><td>{{transactiondetail.date}}</td></tr>
						<tr><td>Deposited By:</td><td>{{transactiondetail.deposited_by|title}}</td></tr>
						<tr><td>Service Name:</td><td>{{transactiondetail.service_name}}</td></tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<table class="table table-bordered w-auto mr-auto" style="width: 100%">
					<thead class="table-secondary">
					   <tr>
					   		<th>SN</th>
					   		<th>Service</th>
					   		<th>Sub total</th>
					   </tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Doctor Charge (Ticket Charge)</td>
							<td class="text-right">Rs. {{transactiondetail.doctor_charge}}</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Medicine Charge</td>
							<td class="text-right">Rs. {{transactiondetail.medicine_charge}}</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Lab Tests Charge</td>
							<td class="text-right">Rs. {{transactiondetail.labtest_charge}}</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Miscellaneous Charge</td>
							<td class="text-right">Rs. {{transactiondetail.misc_charge}}</td>
						</tr>
						<tr >
							<td></td>
							<td class="text-right py-1">Discount</td>
							<td class="text-right py-1"> Rs. {{transactiondetail.discount}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="text-right py-1">VAT (%)</td>
							<td class="text-right py-1"> Rs. {{transactiondetail.vat}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="text-right py-1">Total</td>
							<td class="text-right py-1"> Rs. {{transactiondetail.net}}</td>
						</tr>
						<tr class="text-danger">
							<td></td>
							<td class="text-right py-1">Previous Due</td>
							<td class="text-right py-1"> Rs. {{transactiondetail.previous_due}}</td>
						</tr>
						</tr>
							<td></td>
							<td class="text-right py-1">Payment</td>
							<td class="text-right py-1"> Rs. {{transactiondetail.advance}}</td>
						</tr>
						<tr class="text-info">
							<td></td>
							<td class="text-right py-1">Remaining Due</td>
							<td class="text-right py-1"> Rs. {{transactiondetail.due}}</td>
						</tr>
						<tr>
							<td colspan="3" class="bg-light">Description:<br>{{transactiondetail.description}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>	
</div>


{% endblock %}

{% block js %}


{% endblock %}